Repository t3-oss/create-t3-app, pull requests merged in 2022-10, with the labels that each got.

#510 fix(t3-app): resolve target area of `Documentation` links in `TechnologyCard`
  .changeset/young-pears-wonder.md
  cli/template/page-studs/index/with-auth-trpc-tw.tsx
  cli/template/page-studs/index/with-trpc-tw.tsx
  cli/template/page-studs/index/with-tw.tsx
Labels: 📌 area: t3-app

#532 chore: bump to beta.11
  cli/src/installers/index.ts
Labels: area: cli

#529 feat: tailor .env to only include relevant keys
  .changeset/silver-mayflies-greet.md
  cli/src/installers/envVars.ts
  cli/template/base/.env-example
Labels: 📌 area: cli

#533 feat: tailor .env to only include relevant keys (#529)
  .changeset/silver-mayflies-greet.md
  cli/src/installers/envVars.ts
  cli/template/base/.env-example
Labels: 📌 area: cli, 🚀 autorelease

#518 docs: update prisma section on why page based on #402 feedback
  www/src/pages/en/why.md
Labels: 📚 documentation

#539 fix: typo in tailwind docs
  www/src/pages/en/usage/tailwind.md
Labels: 📚 documentation

#542 feat(ci): only run t3-app-matrix is appropriate changes are made
  .github/workflows/ci.yml
  .github/workflows/pr-labeler.yml
Labels: 📌 area: ci

#551 chore(config): separate prettier and use turbo more
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/nextrelease.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .prettierrc.cjs
  cli/.prettierrc.cjs
  cli/package.json
  cli/tsup.config.ts
  package.json
  pnpm-lock.yaml
  turbo.json
  www/.gitignore
  www/.npmrc
  www/.prettierrc.cjs
  www/astro.config.mjs
  www/package.json
  www/src/components/landingPage/tweets/tweetSlider.astro
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/navbar.astro
  www/src/components/navigation/tableOfContents.astro
Labels: 📚 documentation, 📌 area: cli, 📌 area: ci

#559 feat: docs footer sticks to bottom and is smaller
  www/src/components/footer/footer.astro
  www/src/layouts/docs.astro
Labels: 📚 documentation

#571 docs: added recommendation in FAQ
  www/src/pages/en/faq.md
Labels: 📚 documentation

#572 docs: fix theo's broken image
  www/public/images/theo_300x300.webp
  www/src/pages/en/usage/typescript.md
Labels: 📚 documentation

#570 docs: trpc docs v0
  cli/package.json
  www/src/components/navigation/navbar.astro
  www/src/pages/en/usage/trpc.md
Labels: 📚 documentation, 📌 area: cli

#543 refactor(website): nav & landing
  www/src/components/footer/footer.astro
  www/src/components/landingPage/about.astro
  www/src/components/landingPage/banner.astro
  www/src/components/landingPage/button.astro
  www/src/components/landingPage/community/community.astro
  www/src/components/landingPage/community/communityCard.astro
  www/src/components/landingPage/stack/stack.astro
  www/src/components/landingPage/tweets/tweets.astro
  www/src/components/navigation/Search.tsx
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/navbar.astro
  www/src/components/navigation/sidebarToggle.astro
  www/src/components/navigation/themeToggleButton.astro
  www/src/styles/global.css
Labels: 📚 documentation

#576 chore: add warning to main readme
  README.md
Labels: 📚 documentation

#557 feat: preprocess nextauth url
  .changeset/old-flies-rush.md
  cli/template/addons/env/auth-prisma-schema.mjs
  cli/template/addons/env/auth-schema.mjs
Labels: 📌 area: cli, 📌 area: t3-app, 🚀 autorelease

#578 fix: version bumps on trpc and ts
  .changeset/chilly-seals-jump.md
  cli/src/installers/index.ts
  cli/template/base/package.json
Labels: 📌 area: cli, 📌 area: t3-app

#580 chore: update `updated_at` on pr template
  .github/pull_request_template.md
Labels: 📌 area: ci

#582 feat: remove prettier from base
  .changeset/purple-plums-approve.md
  cli/src/installers/index.ts
  cli/src/installers/tailwind.ts
  cli/template/base/package.json
Labels: 📌 area: cli, 📌 area: t3-app

#587 feat: add .env-example
  .changeset/tender-ducks-mate.md
  cli/src/installers/envVars.ts
Labels: 📌 area: cli

#588 feat: add .env-example info to docs
  www/src/pages/en/usage/env-variables.md
Labels: 📚 documentation

#590 fix(template): remove semicolon in _app of with-auth template
  cli/template/page-studs/_app/with-auth.tsx
Labels: 📌 area: cli, 📌 area: t3-app

#591 fix: remove version lock on nextauth
  .changeset/two-cows-brake.md
  cli/src/installers/index.ts
Labels: 📌 area: cli, 🚀 autorelease

#593 chore(template): remove the mention of @next in template readme
  .changeset/poor-pants-rhyme.md
  cli/template/base/README.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#595 fix(docs): fix mobile layout issues
  www/src/components/navigation/sidebarToggle.astro
  www/src/styles/global.css
Labels: 📚 documentation

#581 feat: align trpc usage to official docs
  .changeset/loud-ways-flash.md
  cli/src/installers/index.ts
  cli/template/addons/trpc/auth-context.ts
  cli/template/addons/trpc/auth-index-router.ts
  cli/template/addons/trpc/auth-prisma-context.ts
  cli/template/addons/trpc/auth-router.ts
  cli/template/addons/trpc/auth-server-utils.ts
  cli/template/addons/trpc/example-prisma-router.ts
  cli/template/addons/trpc/example-router.ts
  cli/template/addons/trpc/index-router.ts
  cli/template/addons/trpc/prisma-context.ts
  cli/template/addons/trpc/server-utils.ts
Labels: 📌 area: cli, 📌 area: t3-app

#598 docs: top-align table items
  www/src/styles/global.css
Labels: 📚 documentation

#596 chore: Made <details> tags pretty
  www/src/components/docs/pageContent.astro
  www/src/pages/en/deployment/docker.md
  www/src/styles/global.css
Labels: 📚 documentation

#602 feat(template): add prettier.Config type to prettier config and resolve plugin import
  .changeset/silly-ways-pay.md
  cli/template/addons/tailwind/prettier.config.cjs
Labels: 📌 area: cli, 📌 area: t3-app

#605 docs: Include Vercel CLI Deployment Instructions
  www/README.md
  www/src/pages/en/deployment/vercel.md
Labels: 📚 documentation

#607 docs: use optimized webp image for ts thumbnail
  www/public/images/ts_thumbnail.jpeg
  www/public/images/ts_thumbnail.webp
  www/src/pages/en/usage/typescript.md
Labels: 📚 documentation

#606 feat: rename index.ts to _app.ts
  .changeset/loud-carrots-smash.md
  cli/src/installers/trpc.ts
  cli/template/addons/trpc/api-handler.ts
  cli/template/addons/trpc/app-router.ts
  cli/template/addons/trpc/auth-app-router.ts
  cli/template/addons/trpc/utils.ts
  www/src/pages/en/usage/trpc.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#613 feat(t3-app): add inference helper and example usage
  .changeset/spicy-falcons-poke.md
  cli/template/addons/trpc/utils.ts
Labels: 📌 area: cli, 📌 area: t3-app

#615 fix: missing characters in homepage cli on android
  www/src/components/landingPage/cli.tsx
Labels: 📚 documentation

#616 feat: cli demo improvements
  www/src/components/landingPage/cli.tsx
Labels: 📚 documentation

#611 fix(cli): make loader async to make it spin
  .changeset/real-panthers-compete.md
  cli/package.json
  cli/src/helpers/git.ts
  cli/src/helpers/installDependencies.ts
  cli/src/index.ts
  pnpm-lock.yaml
Labels: 📌 area: cli, 🚀 autorelease

#621 fix: git spinner
  .changeset/wise-toys-fry.md
  cli/src/helpers/git.ts
Labels: 📌 area: cli

#623 feat: consistent text color in terminal
  .changeset/four-files-end.md
  cli/src/helpers/installDependencies.ts
  cli/src/helpers/scaffoldProject.ts
Labels: 📌 area: cli

#619 feat(template): add createdAt and updatedAt to example model
  .changeset/hot-stingrays-live.md
  cli/template/addons/prisma/auth-schema.prisma
  cli/template/addons/prisma/schema.prisma
Labels: 📌 area: cli, 📌 area: t3-app

#630 docs: add i18n reference
  cli/template/base/next.config.mjs
  www/src/pages/en/faq.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#631 docs: add experimental CLI usage
  www/src/pages/en/faq.md
  www/src/pages/en/installation.md
Labels: 📚 documentation

#629 docs: rephrased trpc code description
  .changeset/tricky-camels-scream.md
  www/src/pages/en/usage/trpc.md
Labels: 📚 documentation

#625 docs: improvements on prisma and trpc
  pnpm-lock.yaml
  www/package.json
  www/src/pages/en/usage/prisma.md
  www/src/pages/en/usage/trpc.md
Labels: 📚 documentation

#632 docs: move stuff from readme to docs
  README.md
  cli/template/base/README.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#635 chore: add comment for consistency among studs.
  cli/template/page-studs/_app/with-auth.tsx
Labels: 📌 area: cli, 📌 area: t3-app

#637 fix: use url.original to build og image path
  www/src/components/headSeo.astro
Labels: 📚 documentation

#639 feat: headings are now links and can be copied upon click
  www/src/layouts/docs.astro
  www/src/styles/global.css
Labels: 📚 documentation

#642 fix: next-auth doesn't install when using node 18
  .changeset/loud-planets-breathe.md
  cli/src/cli/index.ts
  cli/src/helpers/installDependencies.ts
  cli/src/installers/nextAuth.ts
  cli/template/addons/next-auth/_npmrc
  cli/template/addons/next-auth/_yarnrc
Labels: 📌 area: cli, 📌 area: t3-app

#647 docs: fix broken link to NextJS docs
  www/src/pages/en/usage/next-js.md
Labels: 📚 documentation

#636 docs: add code-titles and write some docs
  .gitignore
  pnpm-lock.yaml
  www/.env.example
  www/.gitignore
  www/astro.config.mjs
  www/package.json
  www/src/components/landingPage/tweets/tweets.astro
  www/src/pages/en/t3-collection.md
  www/src/pages/en/usage/env-variables.md
  www/src/pages/en/usage/next-auth.md
  www/src/pages/en/usage/prisma.md
  www/src/pages/en/usage/trpc.md
  www/src/pages/en/usage/typescript.md
  www/src/styles/global.css
  www/tailwind.config.cjs
Labels: 📚 documentation

#646 feat: use top-level await to import server envs
  cli/template/base/next.config.mjs
  cli/template/base/tsconfig.json
  www/src/pages/en/deployment/docker.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#649 chore: bump dependencies
  .changeset/nice-trees-pay.md
  cli/src/installers/index.ts
  cli/src/installers/trpc.ts
Labels: 📌 area: cli

#644 docs: iconify GitHub link
  www/src/components/docs/avatarList.astro
  www/src/components/navigation/Search.tsx
  www/src/components/navigation/githubIcon.astro
  www/src/components/navigation/navbar.astro
  www/src/components/navigation/themeToggleButton.astro
  www/src/utils/fetchGithub.ts
Labels: 📚 documentation

#651 docs: fix nextauth.js link
  www/src/pages/en/introduction.md
Labels: 📚 documentation

#653 Revert "docs: fix nextauth.js link"
  www/src/pages/en/introduction.md
Labels: 📚 documentation

#656 fix: clsx import and cache github data
  www/src/components/navigation/githubIcon.astro
Labels: 📚 documentation

#655 docs: fix incorrect links
  www/src/pages/en/introduction.md
Labels: 📚 documentation

#661 docs: Contribution guidelines gramatical update
  CONTRIBUTING.md
Labels: 📚 documentation

#662 docs(t3-collection): fix incomplete sentence
  www/src/pages/en/t3-collection.md
Labels: 📚 documentation

#663 docs: fixed dead link to t3.gg
  www/src/pages/en/t3-collection.md
Labels: 📚 documentation

#657 fix: update to next13
  .changeset/fluffy-masks-explain.md
  cli/src/helpers/installDependencies.ts
  cli/src/index.ts
  cli/template/addons/next-auth/_npmrc
  cli/template/addons/next-auth/api-handler-prisma.ts
  cli/template/addons/next-auth/api-handler.ts
  cli/template/addons/next-auth/get-server-auth-session.ts
  cli/template/addons/next-auth/next-auth.d.ts
  cli/template/addons/next-auth/restricted.ts
  cli/template/addons/prisma/client.ts
  cli/template/addons/prisma/sample-api.ts
  cli/template/addons/trpc/api-handler.ts
  cli/template/addons/trpc/app-router.ts
  cli/template/addons/trpc/auth-app-router.ts
  cli/template/addons/trpc/auth-context.ts
  cli/template/addons/trpc/auth-prisma-context.ts
  cli/template/addons/trpc/auth-server-utils.ts
  cli/template/addons/trpc/base-context.ts
  cli/template/addons/trpc/example-prisma-router.ts
  cli/template/addons/trpc/example-router.ts
  cli/template/addons/trpc/prisma-context.ts
  cli/template/addons/trpc/server-utils.ts
  cli/template/addons/trpc/utils.ts
  cli/template/base/.eslintrc.json
  cli/template/base/next.config.mjs
  cli/template/base/package.json
  cli/template/base/src/pages/_app.tsx
  cli/template/base/src/pages/index.tsx
  cli/template/page-studs/_app/with-auth-trpc.tsx
  cli/template/page-studs/_app/with-auth.tsx
  cli/template/page-studs/_app/with-trpc.tsx
  cli/template/page-studs/index/with-auth-trpc-tw.tsx
  cli/template/page-studs/index/with-auth-trpc.tsx
  cli/template/page-studs/index/with-trpc-tw.tsx
  cli/template/page-studs/index/with-trpc.tsx
  cli/template/page-studs/index/with-tw.tsx
Labels: 📌 area: cli, 📌 area: t3-app

#658 fix: transitions on docs
  www/src/components/navigation/Search.tsx
  www/src/components/navigation/githubIcon.astro
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/tableOfContents.astro
  www/src/components/navigation/themeToggleButton.astro
  www/src/layouts/docs.astro
  www/src/styles/global.css
Labels: 📚 documentation

#668 docs: correct link to 'tsx' repo
  www/src/pages/en/usage/prisma.md
Labels: 📚 documentation

#667 docs: add documentation on generating NEXTAUTH_SECRET on generated .env
  .changeset/pretty-shrimps-behave.md
  cli/src/installers/envVars.ts
Labels: 📌 area: cli
