Repository t3-oss/create-t3-app, pull requests merged in 2022-09, with the labels that each got.

#383 feat: safeguards for git repos
  .changeset/plenty-emus-sing.md
  cli/src/helpers/git.ts
  cli/src/helpers/initGit.ts
  cli/src/index.ts
  package.json
Labels: area: cli

#382 docs: add tailwind, prisma, nextauth
  package.json
  pnpm-lock.yaml
  www/src/components/blog/pageContent.astro
  www/src/components/navigation/TableOfContents.tsx
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/rightSidebar.astro
  www/src/layouts/blog.astro
  www/src/layouts/landingPage.astro
  www/src/pages/en/usage/next-auth.md
  www/src/pages/en/usage/prisma.md
  www/src/pages/en/usage/tailwind.md
  www/src/styles/global.css
Labels: documentation

#388 feat: styling on index.tsx without tailwind
  .changeset/five-snails-roll.md
  cli/src/helpers/installPackages.ts
  cli/src/installers/tailwind.ts
  cli/template/base/src/pages/index.module.css
  cli/template/base/src/pages/index.tsx
  cli/template/page-studs/index/with-auth-trpc-tw.tsx
  cli/template/page-studs/index/with-auth-trpc.tsx
  cli/template/page-studs/index/with-trpc.tsx
Labels: area: cli, area: t3-app

#391 refactor: move stuff around
  cli/template/page-studs/index/with-auth-trpc-tw.tsx
  cli/template/page-studs/index/with-auth-trpc.tsx
  cli/template/page-studs/index/with-trpc-tw.tsx
  cli/template/page-studs/index/with-tw.tsx
Labels: area: t3-app

#392 chore(ci): matrix e2e test
  .github/workflows/ci.yml
  cli/src/cli/index.ts
Labels: area: cli

#393 chore(ci): fix typo in index.ts
  cli/src/cli/index.ts
Labels: area: cli

#394 refactor: easier to understand client env warning
  .changeset/clean-snails-teach.md
  cli/template/base/src/env/client.mjs
Labels: area: t3-app

#398 chore: update to alpha 69
  cli/src/installers/index.ts
  cli/template/addons/trpc/auth-server-utils.ts
  cli/template/addons/trpc/server-utils.ts
  cli/template/page-studs/index/with-auth-trpc-tw.tsx
  cli/template/page-studs/index/with-auth-trpc.tsx
  cli/template/page-studs/index/with-trpc-tw.tsx
  cli/template/page-studs/index/with-trpc.tsx
Labels: area: cli, area: t3-app

#401 chore: proxy-alpha.70
  cli/src/installers/index.ts
  cli/template/addons/trpc/utils.ts
Labels: area: cli, area: t3-app

#395 refactor: move createProtectedRouter to auth-context.ts
  cli/src/installers/trpc.ts
  cli/template/addons/trpc/auth-context.ts
  cli/template/addons/trpc/auth-prisma-context.ts
  cli/template/addons/trpc/protected-example-router.ts
  cli/template/addons/trpc/protected-router.ts
Labels: area: cli, area: t3-app

#399 fix: docker guide doesn't work with prisma
  cli/template/base/README.md
  cli/template/base/src/env/schema.mjs
  www/src/pages/en/deployment/docker.md
Labels: documentation, area: t3-app

#387 feat: add basic i18n configuration in next.config
  .changeset/olive-ligers-yell.md
  cli/template/base/next.config.mjs
Labels: area: t3-app

#407 refactor(cli): avoids big code blocks
  cli/src/cli/index.ts
Labels: area: cli

#409 chore: Next merge 2022 09 08
  README.md
  cli/CHANGELOG.md
  cli/package.json
  cli/src/helpers/git.ts
  cli/template/base/README.md
  cli/template/base/next.config.mjs
  cli/template/base/src/env/schema.mjs
  www/src/pages/en/deployment/docker.md
Labels: documentation, area: cli, area: t3-app

#411 docs: add typescript, nextjs, remove old style tags
  pnpm-lock.yaml
  www/package.json
  www/public/images/nextjs_thumbnail.jpg
  www/public/images/powered-by-vercel.svg
  www/public/images/ts_thumbnail.jpeg
  www/src/components/blog/avatarList.astro
  www/src/components/blog/pageContent.astro
  www/src/components/footer/footer.astro
  www/src/components/navigation/Search.tsx
  www/src/components/navigation/TableOfContents.tsx
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/moreMenu.astro
  www/src/components/navigation/navbar.astro
  www/src/layouts/blog.astro
  www/src/layouts/landingPage.astro
  www/src/pages/en/usage/next-js.md
  www/src/pages/en/usage/typescript.md
  www/src/styles/algolia/button.css
  www/src/styles/algolia/modal.css
  www/src/styles/algolia/style.css
  www/src/styles/global.css
  www/src/styles/theme.css
  www/tailwind.config.cjs
Labels: documentation

#419 fix: remove unnecessary singlequote in tailwind classname
  .changeset/strong-spoons-obey.md
  cli/template/page-studs/index/with-auth-trpc-tw.tsx
Labels: area: t3-app

#416 fix(template): missing ctx when using ssr with trpc
  .changeset/fast-maps-deliver.md
  cli/template/page-studs/_app/with-auth-trpc.tsx
  cli/template/page-studs/_app/with-trpc.tsx
Labels: area: t3-app

#413 feat: error handler for trpc
  cli/template/addons/env/auth-schema.mjs
  cli/template/addons/trpc/api-handler.ts
  cli/template/base/src/env/schema.mjs
Labels: area: t3-app

#425 docs: Flesh out learning resource section of FAQ
  www/src/pages/en/faq.md
Labels: documentation

#437 fix(ui): copy btn + lighthouse ci
  .github/workflows/lighthouse.yml
  www/src/components/landingPage/banner.astro
  www/src/pages/en/installation.md
Labels: documentation

#441 docs: clear helper types description
  cli/template/addons/trpc/utils.ts
Labels: area: t3-app

#446 feat: better cli text when scaffolding in '.'
  .changeset/spicy-eyes-cry.md
  cli/src/helpers/logNextSteps.ts
  cli/src/helpers/scaffoldProject.ts
Labels: area: cli

#459 fix: some ui
  www/src/components/navigation/Search.tsx
  www/src/components/navigation/TableOfContents.tsx
  www/src/components/navigation/ThemeToggleButton.tsx
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/moreMenu.astro
  www/src/components/navigation/navbar.astro
  www/src/components/navigation/rightSidebar.astro
  www/src/layouts/blog.astro
  www/src/layouts/landingPage.astro
  www/src/pages/en/usage/env-variables.md
  www/src/pages/en/usage/prisma.md
  www/src/styles/global.css
Labels: documentation

#461 feat: better cli text when scaffolding in '.' (next)
  .changeset/tall-pans-dream.md
  cli/src/helpers/logNextSteps.ts
  cli/src/helpers/scaffoldProject.ts
Labels: area: cli

#402 docs: write Prisma section in Why page
  www/src/pages/en/why.md
Labels: documentation

#466 refactor: rename layout and use mdx
  pnpm-lock.yaml
  www/astro.config.mjs
  www/package.json
  www/src/components/docs/avatarList.astro
  www/src/components/docs/pageContent.astro
  www/src/components/footer/footer.astro
  www/src/config.ts
  www/src/layouts/docs.astro
  www/src/pages/en/deployment/docker.md
  www/src/pages/en/deployment/vercel.md
  www/src/pages/en/faq.md
  www/src/pages/en/installation.md
  www/src/pages/en/introduction.md
  www/src/pages/en/t3-axioms.md
  www/src/pages/en/t3-collection.md
  www/src/pages/en/usage/env-variables.md
  www/src/pages/en/usage/next-auth.md
  www/src/pages/en/usage/next-js.md
  www/src/pages/en/usage/prisma.md
  www/src/pages/en/usage/tailwind.md
  www/src/pages/en/usage/trpc.md
  www/src/pages/en/usage/typescript.md
  www/src/pages/en/why.md
Labels: documentation

#469 feat(docs): minor tweaks and improvements
  cli/template/base/README.md
  www/src/components/footer/footer.astro
  www/src/config.ts
  www/src/pages/en/deployment/docker.md
  www/src/pages/en/deployment/vercel.md
  www/src/pages/en/faq.md
  www/src/pages/en/installation.md
  www/src/pages/en/t3-collection.md
  www/src/pages/en/usage/env-variables.md
  www/src/pages/en/usage/next-auth.md
  www/src/pages/en/usage/next-js.md
  www/src/pages/en/usage/tailwind.md
  www/src/pages/en/usage/typescript.md
  www/src/pages/en/why.md
Labels: documentation, area: t3-app

#475 refactor: docs and landing page layouts
  www/src/components/docs/pageContent.astro
  www/src/components/footer/footer.astro
  www/src/components/navigation/TableOfContents.tsx
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/rightSidebar.astro
  www/src/layouts/docs.astro
  www/src/layouts/landingPage.astro
  www/src/styles/global.css
Labels: enhancement

#478 docs: added portfolio to OSS links
  www/src/pages/en/t3-collection.md
Labels: documentation

#483 feat: v10 beta
  cli/src/installers/index.ts
Labels: area: cli

#476 refactor: de-react-ify
  pnpm-lock.yaml
  www/package.json
  www/src/components/docs/pageContent.astro
  www/src/components/headCommon.astro
  www/src/components/navigation/MobileMenu.tsx
  www/src/components/navigation/MobileMenuButton.tsx
  www/src/components/navigation/SidebarToggle.tsx
  www/src/components/navigation/TableOfContents.tsx
  www/src/components/navigation/ThemeToggleButton.tsx
  www/src/components/navigation/navbar.astro
  www/src/components/navigation/rightSidebar.astro
  www/src/components/navigation/sidebarToggle.astro
  www/src/components/navigation/tableOfContents.astro
  www/src/components/navigation/themeToggleButton.astro
  www/src/layouts/docs.astro
  www/src/pages/en/deployment/docker.md
  www/src/pages/en/usage/env-variables.md
  www/src/pages/en/usage/next-auth.md
  www/src/pages/en/usage/next-js.md
  www/src/pages/en/usage/prisma.md
  www/src/pages/en/usage/typescript.md
  www/src/pages/themeTest.astro
Labels: documentation

#492 feat(ci): conditionally run prerelease workflow
  .github/workflows/prerelease-comment.yml
  .github/workflows/prerelease.yml
Labels: 🚀 autorelease

#498 docs: refactor/flesh out docker docs
  CONTRIBUTING.md
  cli/template/base/README.md
  www/src/pages/en/deployment/docker.md
Labels: documentation, area: t3-app

#501 Coyenn/card refactorings
  CONTRIBUTING.md
  cli/template/base/README.md
  pnpm-lock.yaml
  www/package.json
  www/src/components/landingPage/banner.astro
  www/src/components/landingPage/stack/card.astro
  www/src/components/landingPage/tweets/tweetCard.astro
  www/src/components/landingPage/tweets/tweetSlider.astro
  www/src/components/landingPage/tweets/tweetSlider.tsx
  www/src/components/landingPage/tweets/tweets.astro
  www/src/pages/en/deployment/docker.md
  www/src/styles/swiper.css
Labels: documentation, area: t3-app

#505 fix: temp pin next-auth to 4.10 due to peer deps (next)
  cli/src/installers/index.ts
Labels: area: cli, 🚀 autorelease

#506 fix: temp fix for next-auth peer deps (main)
  .changeset/eighty-coats-tie.md
  cli/src/installers/nextAuth.ts
  cli/src/utils/runPkgManagerInstall.ts
Labels: area: cli

#481 feat(prettier): add prettier-plugin-tailwindcss to website and cli
  .prettierrc.cjs
  .vscode/settings.json
  cli/template/page-studs/index/with-auth-trpc-tw.tsx
  cli/template/page-studs/index/with-trpc-tw.tsx
  cli/template/page-studs/index/with-tw.tsx
  package.json
  pnpm-lock.yaml
  www/src/components/docs/avatarList.astro
  www/src/components/landingPage/about.astro
  www/src/components/landingPage/cli.tsx
  www/src/components/landingPage/tweets/tweetCard.astro
  www/src/components/landingPage/tweets/tweetSlider.astro
  www/src/components/navigation/Search.tsx
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/navbar.astro
  www/src/components/navigation/tableOfContents.astro
  www/src/pages/en/usage/tailwind.md
Labels: documentation, area: t3-app

#513 fix: typescript docs quote
  www/src/pages/en/usage/typescript.md
Labels: documentation

#514 feat(docs): add more tailwind usage
  www/src/pages/en/usage/tailwind.md
Labels: documentation

#517 feat(prettier): Add prettier and prettier-plugin-tailwindcss to cli output
  .changeset/fast-carrots-joke.md
  cli/src/installers/tailwind.ts
  cli/template/addons/tailwind/prettier.config.cjs
  cli/template/base/package.json
Labels: 📌 area: cli, 📌 area: t3-app

#521 docs(tailwind): change docs for formatting tw classes
  www/src/pages/en/usage/tailwind.md
Labels: 📚 documentation

#524 docs(vercel): add screenshots for vercel guide
  www/public/images/vercel-env-vars.webp
  www/public/images/vercel-import-project.webp
  www/public/images/vercel-new-project.webp
  www/src/pages/en/deployment/vercel.md
Labels: 📚 documentation
