Repository t3-oss/create-t3-app, pull requests merged in 2022-11, with the labels that each got.

#675 feat: AuthShowcase only makes query when logged in
  .changeset/unlucky-clocks-report.md
  cli/template/page-studs/index/with-auth-trpc-tw.tsx
  cli/template/page-studs/index/with-auth-trpc.tsx
Labels: 📌 area: cli, 📌 area: t3-app

#676 feat: update to next 13.0.1
  .changeset/afraid-news-fail.md
  cli/template/base/package.json
Labels: 📌 area: cli, 📌 area: t3-app

#654 fix: tailwind is a boolean
  .changeset/little-badgers-cheat.md
  .github/workflows/e2e.yml
  cli/src/cli/index.ts
  www/src/pages/en/installation.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: ci

#674 fix: table content active link not showing properly
  www/src/components/navigation/tableOfContents.astro
Labels: 📚 documentation

#671 docs: proofread docs and add 'other recommendations'
  README.md
  www/src/config.ts
  www/src/pages/en/faq.md
  www/src/pages/en/installation.md
  www/src/pages/en/introduction.md
  www/src/pages/en/other-recs.md
  www/src/pages/en/usage/env-variables.md
  www/src/pages/en/usage/next-auth.md
  www/src/pages/en/usage/next-js.md
  www/src/pages/en/usage/prisma.md
  www/src/pages/en/usage/tailwind.md
  www/src/pages/en/usage/trpc.md
  www/src/pages/en/usage/typescript.md
  www/src/pages/en/why.md
Labels: 📚 documentation

#682 refactor: consistent use of React.FC
  cli/template/base/src/pages/index.tsx
  cli/template/page-studs/index/with-auth-trpc-tw.tsx
  cli/template/page-studs/index/with-auth-trpc.tsx
  cli/template/page-studs/index/with-trpc-tw.tsx
  cli/template/page-studs/index/with-trpc.tsx
  cli/template/page-studs/index/with-tw.tsx
Labels: 📌 area: cli, 📌 area: t3-app

#683 fix: landing page background image max width
  www/src/layouts/landingPage.astro
Labels: 📚 documentation

#679 feat: docs twitter link and hashtag
  www/src/components/landingPage/tweets/tweets.astro
Labels: 📚 documentation

#684 chore: version bumps
  .changeset/popular-cars-laugh.md
  cli/src/installers/index.ts
  cli/template/addons/trpc/utils.ts
  cli/template/base/package.json
Labels: 📌 area: cli, 📌 area: t3-app

#687 fix(doc): possible improvements and/or fixes (#686)
  www/src/components/landingPage/stack/stack.astro
  www/src/pages/en/usage/next-auth.md
  www/src/pages/en/usage/next-js.md
  www/src/pages/en/usage/tailwind.md
Labels: 📚 documentation

#688 docs: added my project to the t3 collection
  www/src/pages/en/t3-collection.md
Labels: 📚 documentation

#690 fix: Typo(s) in Issue Template(s) (#689)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: 📌 area: ci

#691 fix(cli): fix create-t3-app to use yarn default behavior (#678)
  cli/src/cli/index.ts
  cli/src/helpers/installDependencies.ts
  cli/src/helpers/logNextSteps.ts
Labels: 📌 area: cli

#695 fix(docs): fixed list styling issue on sm/md screens.
  www/src/styles/global.css
Labels: 📚 documentation

#697 fix: fix 404 page on Vercel
  www/vercel.json
Labels: 📚 documentation

#694 fix(docs): fixed several style issues with docs
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/navbar.astro
  www/src/layouts/docs.astro
Labels: 📚 documentation

#701 docs: added my project to the t3-collection
  www/src/pages/en/t3-collection.md
Labels: 📚 documentation

#702 fix(docs): theme toggle showing up on landing page + minor changes
  www/src/components/landingPage/banner.astro
  www/src/components/landingPage/community/community.astro
  www/src/components/navigation/navbar.astro
  www/src/pages/en/usage/next-auth.md
  www/src/pages/en/usage/prisma.md
Labels: 📚 documentation

#705 docs: max-width
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/navbar.astro
  www/src/layouts/docs.astro
Labels: 📚 documentation

#707 fix(docs): consistent use of `NextAuth` / `NextAuth.js`
  www/src/pages/en/faq.md
  www/src/pages/en/installation.md
  www/src/pages/en/usage/next-auth.md
Labels: 📚 documentation

#703 docs: add "first steps" page and reduce h3 spacing
  www/src/config.ts
  www/src/pages/en/usage/first-steps.md
  www/src/styles/global.css
Labels: 📚 documentation

#699 feat: adds redirects and basic custom 404 page
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/navbar.astro
  www/src/components/navigation/sidebarToggle.astro
  www/src/components/navigation/themeToggleButton.astro
  www/src/layouts/landingPage.astro
  www/src/pages/404.astro
  www/vercel.json
Labels: 📚 documentation

#713 docs: minor fixes
  www/src/pages/en/why.md
Labels: 📚 documentation

#712 fix: set full width to the left sidebar
  www/src/components/navigation/leftSidebar.astro
Labels: 📚 documentation

#716 docs: better "more" menu on mobile
  www/src/components/navigation/moreMenu.astro
Labels: 📚 documentation

#704 docs: rewrite intro
  README.md
  www/src/config.ts
  www/src/pages/en/faq.md
  www/src/pages/en/introduction.md
  www/src/pages/en/t3-axioms.md
  www/src/pages/en/usage/env-variables.md
  www/src/pages/en/usage/prisma.md
Labels: 📚 documentation

#718 docs: fix broken link + minor fixes
  www/src/components/landingPage/stack/stack.astro
  www/src/pages/en/faq.md
Labels: 📚 documentation

#725 feat: Use InterVariable in tailwind config
  www/tailwind.config.cjs
Labels: 📚 documentation

#722 docs: increase the contrast of navigation links' text color against the background color.
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/moreMenu.astro
  www/src/components/navigation/navbar.astro
  www/src/components/navigation/tableOfContents.astro
Labels: 📚 documentation

#719 fix: not able to log in if `NEXTAUTH_SECRET` is not set in dev
  .changeset/shaggy-vans-grab.md
  .github/workflows/e2e.yml
  cli/src/installers/envVars.ts
  cli/template/addons/env/auth-prisma-schema.mjs
  cli/template/addons/env/auth-schema.mjs
Labels: 📌 area: cli, 📌 area: t3-app, 📌 area: ci

#714 docs: fix layout
  www/src/components/docs/pageContent.astro
  www/src/components/footer/footer.astro
  www/src/components/landingPage/banner.astro
  www/src/components/landingPage/button.astro
  www/src/components/navigation/Search.tsx
  www/src/components/navigation/githubIcon.astro
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/moreMenu.astro
  www/src/components/navigation/navbar.astro
  www/src/components/navigation/rightSidebar.astro
  www/src/components/navigation/tableOfContents.astro
  www/src/components/navigation/themeToggleButton.astro
  www/src/layouts/docs.astro
  www/src/layouts/landingPage.astro
  www/src/styles/global.css
  www/vercel.json
Labels: 📚 documentation

#728 docs: bug - firefox doesn't always use custom scrollbars
  www/src/components/navigation/leftSidebar.astro
  www/src/layouts/docs.astro
Labels: 📚 documentation

#727 feat: render warning when using a tagged or outdated version
  .changeset/warm-sheep-suffer.md
  cli/src/index.ts
  cli/src/utils/renderVersionWarning.ts
Labels: 📌 area: cli

#733 chore: symlink readmes the other way around
  README.md
  cli/README.md
Labels: 📚 documentation, 📌 area: cli

#736 docs(tRPC): Switch to new `setData` signature
  www/src/pages/en/usage/trpc.md
Labels: 📚 documentation

#735 docs(t3-collection): add tincy.pics in t3-collection
  www/src/pages/en/t3-collection.md
Labels: 📚 documentation

#737 docs: small adjustments
  cli/README.md
  www/src/components/docs/pageContent.astro
  www/src/components/landingPage/about.astro
  www/src/components/landingPage/banner.astro
  www/src/components/landingPage/cli.tsx
  www/src/components/landingPage/stack/stack.astro
  www/src/pages/en/deployment/vercel.md
  www/src/pages/en/installation.md
  www/src/pages/en/introduction.md
  www/src/pages/en/other-recs.md
  www/src/pages/en/t3-collection.md
  www/src/pages/en/usage/next-js.md
  www/src/pages/en/why.md
  www/src/styles/global.css
Labels: 📚 documentation, 📌 area: cli

#730 refactor(docs): better styling for docs
  README.md
  www/astro.config.mjs
  www/src/components/docs/pageContent.astro
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/moreMenu.astro
  www/src/components/navigation/tableOfContents.astro
  www/src/layouts/docs.astro
  www/src/pages/en/usage/trpc.md
  www/src/styles/global.css
Labels: 📚 documentation

#741 docs: video embeds
  www/src/pages/en/introduction.md
  www/src/pages/en/usage/next-js.md
  www/src/pages/en/usage/trpc.md
  www/src/pages/en/usage/typescript.md
Labels: 📚 documentation

#742 fix: make embeds responsive
  www/src/pages/en/introduction.md
  www/src/pages/en/usage/next-js.md
  www/src/pages/en/usage/trpc.md
  www/src/pages/en/usage/typescript.md
  www/src/styles/global.css
Labels: 📚 documentation

#743 feat(docs): add mewtru's talk in tailwind docs
  www/src/pages/en/usage/tailwind.md
Labels: 📚 documentation

#745 docs: homepage copy pass by Theo
  www/src/components/landingPage/about.astro
  www/src/components/landingPage/banner.astro
  www/src/components/landingPage/stack/stack.astro
  www/src/components/landingPage/tweets/tweets.astro
Labels: 📚 documentation

#746 feat: better styles for stuff
  www/src/pages/en/usage/next-auth.md
  www/src/styles/global.css
Labels: 📚 documentation

#747 docs: Copy pass on core docs
  www/src/pages/en/introduction.md
  www/src/pages/en/why.md
Labels: 📚 documentation

#749 fix: flash of theme while refreshing
  www/src/components/navigation/themeToggleButton.astro
  www/src/layouts/docs.astro
  www/src/layouts/landingPage.astro
Labels: 📚 documentation

#748 docs: minor fixes
  www/src/components/landingPage/stack/stack.astro
  www/src/pages/en/introduction.md
Labels: 📚 documentation

#750 fix: layout shift on docs
  www/src/components/navigation/themeToggleButton.astro
  www/src/layouts/docs.astro
Labels: 📚 documentation

#731 docs: Add Folder Structure page
  www/src/config.ts
  www/src/pages/en/folder-structure.md
Labels: 📚 documentation

#754 fix: rename example env file
  .changeset/dull-parrots-rest.md
  cli/src/installers/envVars.ts
Labels: 📌 area: cli

#753 docs(folder-structure): improvements
  package.json
  pnpm-lock.yaml
  www/package.json
  www/src/config.ts
  www/src/pages/en/folder-structure.md
Labels: 📚 documentation

#711 feat: new index
  .changeset/honest-hornets-march.md
  cli/template/addons/trpc/auth-router.ts
  cli/template/base/src/pages/index.module.css
  cli/template/base/src/pages/index.tsx
  cli/template/page-studs/index/with-auth-trpc-tw.tsx
  cli/template/page-studs/index/with-auth-trpc.tsx
  cli/template/page-studs/index/with-trpc-tw.tsx
  cli/template/page-studs/index/with-trpc.tsx
  cli/template/page-studs/index/with-tw.tsx
Labels: 📌 area: cli, 📌 area: t3-app

#757 docs: test vercel analytics
  pnpm-lock.yaml
  www/package.json
  www/src/components/headCommon.astro
Labels: 📚 documentation

#739 chore: update beta-links
  cli/README.md
  cli/template/addons/trpc/auth-context.ts
  cli/template/addons/trpc/auth-prisma-context.ts
  cli/template/addons/trpc/base-context.ts
  cli/template/addons/trpc/prisma-context.ts
  cli/template/base/README.md
  www/astro.config.mjs
  www/public/robots.txt
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#759 docs: minor fixes
  www/src/pages/en/folder-structure.md
Labels: 📚 documentation

#755 feat: add remark plugin to autolink headings
  pnpm-lock.yaml
  www/astro.config.mjs
  www/package.json
  www/src/components/docs/pageContent.astro
  www/src/components/navigation/githubIcon.astro
  www/src/layouts/docs.astro
Labels: 📚 documentation

#758 docs: set height of nextauth icon
  www/public/images/nextauth.webp
  www/src/components/landingPage/stack/nextauth.png
  www/src/components/landingPage/stack/stack.astro
Labels: 📚 documentation

#767 docs: fix link to Trash's talk
  www/src/pages/en/usage/trpc.md
Labels: 📚 documentation

#760 feat: add pagination
  www/src/components/docs/pageContent.astro
  www/src/components/docs/pagination.astro
  www/src/utils/pagination.ts
Labels: 📚 documentation

#765 docs: add "why not `/app`?" FAQ
  www/src/pages/en/faq.md
Labels: 📚 documentation

#782 docs: fix wrong link to me3
  www/src/pages/en/t3-collection.md
Labels: 📚 documentation

#787 docs: correct .env.example filename
  cli/src/installers/envVars.ts
  www/src/pages/en/folder-structure.md
  www/src/pages/en/usage/env-variables.md
Labels: 📚 documentation, 📌 area: cli

#771 docs: cache tweets, version bumps, layout fix
  cli/package.json
  package.json
  pnpm-lock.yaml
  www/package.json
  www/src/components/landingPage/tweets/tweets.astro
  www/src/pages/en/folder-structure.md
Labels: 📚 documentation, 📌 area: cli

#778 docs: updated folder structure for pages
  www/src/pages/en/folder-structure.md
Labels: 📚 documentation

#795 docs: fix mispelling of 'separate'
  www/src/pages/en/usage/tailwind.md
Labels: 📚 documentation

#798 docs: minor grammar fix
  www/src/pages/en/introduction.md
Labels: 📚 documentation

#784 docs: minor improvements
  .changeset/calm-stingrays-end.md
  cli/template/addons/trpc/auth-router.ts
  cli/template/base/src/pages/index.tsx
  cli/template/page-studs/index/with-auth-trpc.tsx
  cli/template/page-studs/index/with-trpc.tsx
  www/src/components/landingPage/stack/stack.astro
  www/src/pages/en/deployment/vercel.md
  www/src/pages/en/faq.md
  www/src/pages/en/other-recs.md
  www/src/pages/en/usage/env-variables.md
  www/src/pages/en/usage/next-auth.md
  www/src/pages/en/usage/prisma.md
  www/src/pages/en/usage/trpc.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#772 fix: remove duplicate script tag
  www/src/components/docs/pageContent.astro
  www/src/components/headCommon.astro
Labels: 📚 documentation

#800 fix: removing redundant optional chaining in templates
  .changeset/thick-yaks-exist.md
  cli/template/page-studs/index/with-auth-trpc-tw.tsx
  cli/template/page-studs/index/with-auth-trpc.tsx
Labels: 📌 area: cli, 📌 area: t3-app

#805 docs(t3-collection): redirect to `next` branch instead of `main`
  www/src/pages/en/t3-collection.md
Labels: 📚 documentation

#786 chore: ignore next-env.d.ts
  .changeset/five-tigers-double.md
  cli/template/base/_gitignore
Labels: 📌 area: cli, 📌 area: t3-app

#799 docs: made themeToggleButton a toggle button
  www/src/components/navigation/themeToggleButton.astro
Labels: 📚 documentation

#797 fix: tweet slider pausing permanently on hover
  www/src/components/landingPage/tweets/tweetSlider.astro
Labels: 📚 documentation

#796 fix: Resize NextAuth logo for better Lighthouse score
  www/public/images/nextauth.webp
Labels: 📚 documentation

#762 docs(t3-collection): add "AI TTS Donations" to t3 collection
  www/src/pages/en/t3-collection.md
Labels: 📚 documentation

#808 fix: overlapping scrollbars in docs
  www/src/layouts/docs.astro
Labels: 📚 documentation

#806 docs: add new project to the collection list
  www/src/pages/en/t3-collection.md
Labels: 📚 documentation

#761 fix: landing page typist at sm, and consistent header aligmment
  www/src/components/landingPage/cli.tsx
  www/src/components/landingPage/community/community.astro
  www/src/components/landingPage/stack/stack.astro
Labels: 📚 documentation

#812 docs: fixed trpc examples
  www/src/pages/en/usage/trpc.md
Labels: 📚 documentation

#773 docs: add nexiona to companies that uses t3
  www/src/pages/en/t3-collection.md
Labels: 📚 documentation

#813 chore(ci): use new output api
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Labels: 📌 area: ci

#816 docs: update meta description
  www/src/config.ts
Labels: 📚 documentation

#825 feat: add sitemap-index.xml for better SEO
  pnpm-lock.yaml
  www/astro.config.mjs
  www/package.json
  www/public/robots.txt
Labels: 📚 documentation

#829 docs: correct tRPC advantages
  www/src/pages/en/usage/trpc.md
Labels: 📚 documentation

#830 fix(style): imports grouping, trivial
  cli/template/addons/next-auth/get-server-auth-session.ts
Labels: 📌 area: cli, 📌 area: t3-app

#794 fix: Mobile pop out menu hidden incorrectly
  www/src/styles/global.css
Labels: 📚 documentation

#834 chore: trpc10
  .changeset/cuddly-tigers-heal.md
  cli/src/installers/index.ts
Labels: 📌 area: cli

#836 fix: twitter data
  www/src/components/landingPage/tweets/tweets.astro
  www/src/components/navigation/githubIcon.astro
Labels: 📚 documentation

#840 fix: extra whitespace on landing page
  www/src/layouts/landingPage.astro
Labels: 📚 documentation

#837 docs: lang attr and translating guide
  www/TRANSLATIONS.md
  www/src/pages/en/deployment/docker.md
  www/src/pages/en/deployment/vercel.md
  www/src/pages/en/faq.md
  www/src/pages/en/folder-structure.md
  www/src/pages/en/installation.md
  www/src/pages/en/introduction.md
  www/src/pages/en/other-recs.md
  www/src/pages/en/t3-collection.md
  www/src/pages/en/usage/env-variables.md
  www/src/pages/en/usage/first-steps.md
  www/src/pages/en/usage/next-auth.md
  www/src/pages/en/usage/next-js.md
  www/src/pages/en/usage/prisma.md
  www/src/pages/en/usage/tailwind.md
  www/src/pages/en/usage/trpc.md
  www/src/pages/en/usage/typescript.md
  www/src/pages/en/why.md
Labels: 📚 documentation

#843 fix: add pointer-events-none
  www/src/layouts/landingPage.astro
Labels: 📚 documentation

#839 docs: add Layer3 to list of companies using T3
  www/src/pages/en/t3-collection.md
Labels: 📚 documentation

#780 docs: language select and outdated docs banner
  www/.eslintrc.cjs
  www/src/components/docs/outdatedDocsBanner.astro
  www/src/components/docs/pageContent.astro
  www/src/components/navigation/languageSelect.astro
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/navbar.astro
  www/src/config.ts
  www/src/languages.ts
  www/src/layouts/docs.astro
Labels: 📚 documentation

#849 docs: lang select headless ui
  pnpm-lock.yaml
  www/package.json
  www/src/components/navigation/LanguageSelect.tsx
  www/src/components/navigation/languageSelect.astro
  www/src/components/navigation/navbar.astro
Labels: 📚 documentation

#850 docs: update translations.md
  www/TRANSLATIONS.md
Labels: 📚 documentation

#852 docs: link to translation guide in contributing.md
  CONTRIBUTING.md
Labels: 📚 documentation

#854 fix: typo in installation.md
  www/src/pages/en/installation.md
Labels: 📚 documentation

#856 docs: add tom does tech tweet and better document tweets
  www/src/components/landingPage/tweets/tweets.astro
Labels: 📚 documentation

#857 fix: tailwind prettier for astro
  pnpm-lock.yaml
  www/.prettierrc.cjs
  www/package.json
  www/src/components/docs/avatarList.astro
  www/src/components/docs/pageContent.astro
  www/src/components/docs/pagination.astro
  www/src/components/footer/footer.astro
  www/src/components/landingPage/about.astro
  www/src/components/landingPage/banner.astro
  www/src/components/landingPage/community/community.astro
  www/src/components/landingPage/community/communityCard.astro
  www/src/components/landingPage/stack/card.astro
  www/src/components/landingPage/stack/stack.astro
  www/src/components/landingPage/tweets/tweetCard.astro
  www/src/components/landingPage/tweets/tweetSlider.astro
  www/src/components/landingPage/tweets/tweets.astro
  www/src/components/navigation/githubIcon.astro
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/moreMenu.astro
  www/src/components/navigation/navbar.astro
  www/src/components/navigation/sidebarToggle.astro
  www/src/components/navigation/tableOfContents.astro
  www/src/components/navigation/themeToggleButton.astro
  www/src/layouts/docs.astro
  www/src/layouts/landingPage.astro
  www/src/pages/404.astro
  www/src/pages/themeTest.astro
Labels: 📚 documentation

#859 docs: add T3 Stripe article to FAQ articles
  www/src/pages/en/faq.md
Labels: 📚 documentation

#861 docs: improved Sidebar type
  www/src/config.ts
  www/src/utils/pagination.ts
Labels: 📚 documentation

#862 fix: invalid versions
  .github/workflows/ci.yml
  cli/package.json
  pnpm-lock.yaml
Labels: 📌 area: cli, 📌 area: ci

#866 fix: Typo in TRPC docs page
  www/src/pages/en/usage/trpc.md
Labels: 📚 documentation

#868 fix: Typo in T3 Collection page
  www/src/pages/en/t3-collection.md
Labels: 📚 documentation

#860 docs: minor fixes
  www/src/pages/en/faq.md
  www/src/pages/en/why.md
Labels: 📚 documentation

#875 docs: Fix spelling of Tailwind in folder-structure.md
  www/src/pages/en/folder-structure.md
Labels: 📚 documentation

#873 test: testing ci tokens
  www/src/components/docs/avatarList.astro
Labels: 📚 documentation

#867 fix: language select layout shift (closes #855)
  www/src/styles/global.css
Labels: 📚 documentation

#880 docs: improve language select styling
  www/src/components/navigation/LanguageSelect.tsx
Labels: 📚 documentation

#883 fix(docs): added scroll-margin to headings
  www/src/styles/global.css
Labels: 📚 documentation

#869 docs: add notes about env vars
  .changeset/early-coats-stare.md
  cli/template/base/_gitignore
  www/src/pages/en/usage/env-variables.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#882 docs: improve algolia docsearch styling
  www/src/styles/algolia/style.css
Labels: 📚 documentation

#878 feat: update scaffolded README.md
  .changeset/nasty-olives-notice.md
  cli/template/base/README.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#888 docs(env-variables): fix typo
  www/src/pages/en/usage/env-variables.md
Labels: 📚 documentation

#889 fix: comments in env schema
  .changeset/smooth-moons-chew.md
  cli/template/addons/env/auth-prisma-schema.mjs
  cli/template/addons/env/auth-schema.mjs
Labels: 📌 area: cli, 📌 area: t3-app

#887 docs: improve docsearch kbd styling
  www/src/styles/algolia/style.css
Labels: 📚 documentation

#884 docs: section summary pages
  .vscode/settings.json
  www/src/components/docs/indexPage.astro
  www/src/pages/en/deployment/index.astro
  www/src/pages/en/usage/index.astro
Labels: 📚 documentation

#863 docs(RFC): external link glyph
  www/astro.config.mjs
Labels: 📚 documentation

#879 feat(www): add breadcrumbs & redirects
  CONTRIBUTING.md
  www/src/components/docs/breadCrumbs.tsx
  www/src/components/docs/pageContent.astro
  www/src/components/navigation/navbar.astro
  www/src/pages/en/other-recs.md
  www/src/styles/global.css
  www/vercel.json
Labels: 📚 documentation

#897 fix(cli): fix wrong prompt when setting up project name
  .changeset/violet-pandas-sparkle.md
  cli/src/utils/validateAppName.ts
Labels: 📌 area: cli

#899 docs: add tom's new tutorial to learning resources
  www/src/pages/en/faq.md
Labels: 📚 documentation

#900 refactor(www#879): no underline on breadcrumbs
  www/src/components/docs/breadCrumbs.tsx
Labels: 📚 documentation

#895 feat: using 'init.defaultBranch' when initializing git repo
  .changeset/late-beds-jump.md
  cli/src/helpers/git.ts
Labels: 📌 area: cli

#877 feat: on this page links of article for mobile/tablet
  www/src/components/docs/pageContent.astro
  www/src/components/navigation/OnThisPageLinks.tsx
  www/src/layouts/docs.astro
  www/src/styles/global.css
Labels: 📚 documentation
