Repository t3-oss/create-t3-app, pull requests merged in 2022-12, with the labels that each got.

#901 feat: always include .env and .env.example
  .changeset/odd-pens-play.md
  cli/src/installers/envVars.ts
  cli/src/installers/index.ts
  cli/template/addons/env/auth-prisma-schema.mjs
  cli/template/addons/env/auth-schema.mjs
  cli/template/addons/env/prisma-schema.mjs
Labels: 📌 area: cli, 📌 area: t3-app

#820 feat(docs): i18n stuff
  cli/package.json
  package.json
  pnpm-lock.yaml
  www/package.json
  www/src/components/docs/breadCrumbs.tsx
  www/src/components/docs/outdatedDocsBanner.astro
  www/src/components/docs/pageContent.astro
  www/src/components/navigation/Search.tsx
  www/src/components/navigation/githubIcon.astro
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/moreMenu.astro
  www/src/components/navigation/navbar.astro
  www/src/components/navigation/tableOfContents.astro
  www/src/config.ts
  www/src/languages.ts
  www/src/layouts/docs.astro
  www/src/pages/en/usage/trpc.md
  www/src/pages/en/usage/typescript.md
  www/src/styles/global.css
Labels: 📚 documentation, 📌 area: cli

#904 fix(ci): i18n fetches broken
  www/src/components/docs/avatarList.astro
  www/src/components/docs/outdatedDocsBanner.astro
Labels: 📚 documentation

#774 docs: russian translation
  www/src/config.ts
  www/src/pages/ru/deployment/docker.md
  www/src/pages/ru/deployment/index.astro
  www/src/pages/ru/deployment/vercel.md
  www/src/pages/ru/faq.md
  www/src/pages/ru/folder-structure.md
  www/src/pages/ru/installation.md
  www/src/pages/ru/introduction.md
  www/src/pages/ru/other-recs.md
  www/src/pages/ru/t3-collection.md
  www/src/pages/ru/usage/env-variables.md
  www/src/pages/ru/usage/first-steps.md
  www/src/pages/ru/usage/index.astro
  www/src/pages/ru/usage/next-auth.md
  www/src/pages/ru/usage/next-js.md
  www/src/pages/ru/usage/prisma.md
  www/src/pages/ru/usage/tailwind.md
  www/src/pages/ru/usage/trpc.md
  www/src/pages/ru/usage/typescript.md
  www/src/pages/ru/why.md
Labels: 📚 documentation, 🌎 translation, 🙏 review required

#913 fix: breadcrumbs translations
  www/src/components/docs/breadCrumbs.tsx
  www/src/config.ts
Labels: 📚 documentation

#914 fix: (temp) pin next-auth
  .changeset/few-mangos-clean.md
  cli/src/installers/index.ts
Labels: 📌 area: cli

#918 chore(ci): prevent rate-limiting
  .github/workflows/ci.yml
Labels: 📌 area: ci

#909 feat: Update TRANSLATIONS.md
  www/TRANSLATIONS.md
Labels: 📚 documentation

#919 fix(docs): show pagination on non-EN pages
  www/src/components/docs/pagination.astro
Labels: 📚 documentation

#921 docs: better outdated banner spacing on mobile
  www/src/components/docs/outdatedDocsBanner.astro
Labels: 📚 documentation

#917 feat: add blank target to base template
  .changeset/empty-lions-nail.md
  .changeset/lemon-walls-study.md
  cli/template/base/src/pages/index.tsx
  cli/template/page-studs/index/with-auth-trpc-tw.tsx
  cli/template/page-studs/index/with-auth-trpc.tsx
  cli/template/page-studs/index/with-trpc-tw.tsx
  cli/template/page-studs/index/with-trpc.tsx
  cli/template/page-studs/index/with-tw.tsx
Labels: 📌 area: cli, 📌 area: t3-app

#924 refactor(www): consistent spacing in mobile layout
  www/src/components/docs/breadCrumbs.tsx
  www/src/components/docs/outdatedDocsBanner.astro
  www/src/components/docs/pageContent.astro
  www/src/components/navigation/OnThisPageLinks.tsx
Labels: 📚 documentation

#923 docs: add new project to the collections list
  www/src/pages/en/t3-collection.md
Labels: 📚 documentation

#920 docs: Update vercel.md
  www/src/pages/en/deployment/vercel.md
Labels: 📚 documentation

#931 docs: remove flags from languages
  www/src/config.ts
Labels: 📚 documentation

#932 fix: breaking error caused by unstable_getServerSession changes in next-auth 4.18
  .changeset/lucky-kangaroos-tickle.md
  cli/src/installers/index.ts
  cli/template/addons/next-auth/get-server-auth-session.ts
  www/src/pages/en/usage/next-auth.md
  www/src/pages/ru/usage/next-auth.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#939 fix: use next-auth 4.18.3 and undo hotfix
  .changeset/hip-apples-hunt.md
  cli/src/installers/index.ts
  cli/template/addons/next-auth/get-server-auth-session.ts
  www/src/pages/en/usage/next-auth.md
  www/src/pages/ru/usage/next-auth.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#937 docs(t3-collection): add tauri-t3-app
  www/src/pages/en/t3-collection.md
Labels: 📚 documentation

#791 docs: arabic translation
  www/src/config.ts
  www/src/pages/ar/deployment/docker.md
  www/src/pages/ar/deployment/vercel.md
  www/src/pages/ar/faq.md
  www/src/pages/ar/folder-structure.md
  www/src/pages/ar/installation.md
  www/src/pages/ar/introduction.md
  www/src/pages/ar/other-recs.md
  www/src/pages/ar/t3-collection.md
  www/src/pages/ar/usage/env-variables.md
  www/src/pages/ar/usage/first-steps.md
  www/src/pages/ar/usage/next-auth.md
  www/src/pages/ar/usage/next-js.md
  www/src/pages/ar/usage/prisma.md
  www/src/pages/ar/usage/tailwind.md
  www/src/pages/ar/usage/trpc.md
  www/src/pages/ar/usage/typescript.md
  www/src/pages/ar/why.md
Labels: 📚 documentation, 🌎 translation, 🙏 review required

#853 docs: portuguese translation
  www/src/config.ts
  www/src/pages/pt/deployment/docker.md
  www/src/pages/pt/deployment/vercel.md
  www/src/pages/pt/faq.md
  www/src/pages/pt/folder-structure.md
  www/src/pages/pt/installation.md
  www/src/pages/pt/introduction.md
  www/src/pages/pt/other-recs.md
  www/src/pages/pt/t3-collection.md
  www/src/pages/pt/usage/env-variables.md
  www/src/pages/pt/usage/first-steps.md
  www/src/pages/pt/usage/next-auth.md
  www/src/pages/pt/usage/next-js.md
  www/src/pages/pt/usage/prisma.md
  www/src/pages/pt/usage/tailwind.md
  www/src/pages/pt/usage/trpc.md
  www/src/pages/pt/usage/typescript.md
  www/src/pages/pt/why.md
Labels: 📚 documentation, 🌎 translation

#942 chore: clean up config.ts
  www/src/config.ts
Labels: 📚 documentation

#929 fix: layout shift on the home page
  www/src/components/landingPage/about.astro
Labels: 📚 documentation

#943 fix(docs): `On this page` button spacing
  www/src/components/navigation/OnThisPageLinks.tsx
Labels: 📚 documentation

#947 fix(docs): Language selector showing `EN` as active language on `non-EN` pages
  www/src/components/navigation/navbar.astro
Labels: 📚 documentation

#949 fix: code title overlays "on this page" menu fix
  www/src/components/navigation/OnThisPageLinks.tsx
Labels: 📚 documentation

#946 feat(docs): add `Translate this page` button
  www/src/components/navigation/moreMenu.astro
Labels: 📚 documentation

#955 fix(doc): a typo inside folder structure
  www/src/pages/en/folder-structure.md
Labels: 📚 documentation

#933 fix(doc): rtl pagination arrows
  www/src/components/docs/pagination.astro
  www/src/components/icons/leftArrow.astro
  www/src/components/icons/rightArrow.astro
Labels: 📚 documentation

#957 fix: docs translation date diff
  www/src/components/docs/outdatedDocsBanner.astro
Labels: 📚 documentation

#941 fix: rtl breadcrumbs, "on this page", env var folder structure
  www/src/components/docs/breadCrumbs.tsx
  www/src/components/docs/pageContent.astro
  www/src/components/navigation/OnThisPageLinks.tsx
  www/src/languages.ts
  www/src/pages/ar/usage/env-variables.md
Labels: 📚 documentation

#951 docs: improved spacing for outdated banner
  www/src/components/docs/outdatedDocsBanner.astro
Labels: 📚 documentation

#960 fix: breadcrumbs fix
  www/src/components/docs/breadCrumbs.tsx
  www/src/components/docs/pageContent.astro
Labels: 📚 documentation

#962 docs: remove extra whitespace
  www/src/pages/en/why.md
Labels: 📚 documentation

#961 docs: fix underline on hover
  www/src/components/docs/outdatedDocsBanner.astro
  www/src/components/docs/pagination.astro
Labels: 📚 documentation

#966 docs: add styles for h4
  www/src/styles/global.css
Labels: 📚 documentation

#886 docs: accessibility improvements
  www/src/components/footer/footer.astro
  www/src/components/landingPage/cli.tsx
  www/src/components/landingPage/stack/card.astro
  www/src/components/landingPage/stack/stack.astro
  www/src/components/navigation/githubIcon.astro
  www/src/components/navigation/navbar.astro
  www/src/pages/index.astro
  www/src/styles/accessibility.css
Labels: 📚 documentation

#970 fix(docs): Update-dockerfile to resolve prisma bug
  www/src/pages/ar/deployment/docker.md
  www/src/pages/en/deployment/docker.md
  www/src/pages/pt/deployment/docker.md
  www/src/pages/ru/deployment/docker.md
Labels: 📚 documentation

#969 fix(docs): correction of language matching
  www/src/components/navigation/leftSidebar.astro
  www/src/languages.ts
Labels: 📚 documentation

#967 docs: remove url params unintentionally included
  www/src/pages/ar/usage/trpc.md
  www/src/pages/en/usage/trpc.md
  www/src/pages/pt/usage/trpc.md
Labels: 📚 documentation

#974 fix: missing async keyword
  www/src/pages/en/usage/next-auth.md
Labels: 📚 documentation

#973 fix(www): fix typo
  www/src/components/navigation/githubIcon.astro
Labels: 📚 documentation

#964 docs(AR): proofread intruduction.md and why.md arabic
  www/src/config.ts
  www/src/pages/ar/faq.md
  www/src/pages/ar/folder-structure.md
  www/src/pages/ar/introduction.md
  www/src/pages/ar/other-recs.md
  www/src/pages/ar/t3-collection.md
  www/src/pages/ar/why.md
Labels: 📚 documentation

#980 fix: missing async keyword
  www/src/pages/ar/usage/next-auth.md
  www/src/pages/pt/usage/next-auth.md
  www/src/pages/ru/usage/next-auth.md
Labels: 📚 documentation

#981 fix: TS first
  .changeset/quiet-windows-leave.md
  cli/src/cli/index.ts
Labels: 📌 area: cli

#968 docs: Netlify deployment docs
  www/public/images/netlify-01-new-project.webp
  www/public/images/netlify-02-connect-to-git-provider.webp
  www/public/images/netlify-03-pick-a-repository-from-github.webp
  www/public/images/netlify-04-configure-build-settings.webp
  www/public/images/netlify-05-env-vars.webp
  www/src/config.ts
  www/src/pages/en/deployment/netlify.md
Labels: 📚 documentation

#983 fix(docs): correction of langCode matching
  www/src/languages.ts
Labels: 📚 documentation

#954 fix(RTL): search modal spacing issue
  www/src/styles/algolia/style.css
Labels: 📚 documentation

#963 docs: add interactivity to the Folder Structure page
  pnpm-lock.yaml
  www/astro.config.mjs
  www/package.json
  www/src/components/docs/folderStructureDiagram.astro
  www/src/components/docs/folderStructureForm.astro
  www/src/pages/en/folder-structure.mdx
  www/src/styles/global.css
Labels: 📚 documentation

#985 docs(folder-structure): fix typo
  www/src/components/docs/folderStructureForm.astro
  www/src/pages/en/folder-structure.mdx
Labels: 📚 documentation

#979 fix: glitchy language picker
  www/src/components/navigation/LanguageSelect.tsx
  www/src/styles/accessibility.css
Labels: 📚 documentation

#945 docs: linguistic improvements for Arabic docs
  www/src/pages/ar/faq.md
Labels: 📚 documentation

#953 docs: norwegian translation
  www/src/config.ts
  www/src/pages/no/deployment/docker.md
  www/src/pages/no/deployment/index.astro
  www/src/pages/no/deployment/vercel.md
  www/src/pages/no/faq.md
  www/src/pages/no/folder-structure.md
  www/src/pages/no/installation.md
  www/src/pages/no/introduction.md
  www/src/pages/no/other-recs.md
  www/src/pages/no/t3-collection.md
  www/src/pages/no/usage/env-variables.md
  www/src/pages/no/usage/first-steps.md
  www/src/pages/no/usage/index.astro
  www/src/pages/no/usage/next-auth.md
  www/src/pages/no/usage/next-js.md
  www/src/pages/no/usage/prisma.md
  www/src/pages/no/usage/tailwind.md
  www/src/pages/no/usage/trpc.md
  www/src/pages/no/usage/typescript.md
  www/src/pages/no/why.md
Labels: 📚 documentation, 🌎 translation, 🙏 review required

#987 docs(ru): ru translation update
  www/src/pages/ru/faq.md
  www/src/pages/ru/folder-structure.mdx
  www/src/pages/ru/t3-collection.md
Labels: 📚 documentation

#988 docs(AR): new folder structure Arabic
  www/src/pages/ar/folder-structure.mdx
Labels: 📚 documentation

#991 fix: tailwind base styles are duplicated
  www/astro.config.mjs
Labels: 📚 documentation

#990 fix: folder structure list elements now properly disappear when deselected
  www/src/components/docs/folderStructureForm.astro
  www/src/components/navigation/tableOfContents.astro
Labels: 📚 documentation

#998 docs: add Azon to open source T3 projects
  www/src/pages/en/t3-collection.md
Labels: 📚 documentation

#995 docs: Fix active color overflow of the Input with the search icon in t…
  www/src/styles/algolia/style.css
Labels: 📚 documentation

#938 docs: french translation
  www/src/config.ts
  www/src/pages/fr/deployment/docker.md
  www/src/pages/fr/deployment/index.astro
  www/src/pages/fr/deployment/netlify.md
  www/src/pages/fr/deployment/vercel.md
  www/src/pages/fr/faq.md
  www/src/pages/fr/folder-structure.mdx
  www/src/pages/fr/installation.md
  www/src/pages/fr/introduction.md
  www/src/pages/fr/other-recs.md
  www/src/pages/fr/t3-collection.md
  www/src/pages/fr/usage/env-variables.md
  www/src/pages/fr/usage/first-steps.md
  www/src/pages/fr/usage/index.astro
  www/src/pages/fr/usage/next-auth.md
  www/src/pages/fr/usage/next-js.md
  www/src/pages/fr/usage/prisma.md
  www/src/pages/fr/usage/tailwind.md
  www/src/pages/fr/usage/trpc.md
  www/src/pages/fr/usage/typescript.md
  www/src/pages/fr/why.md
Labels: 📚 documentation, 🌎 translation, 🙏 community review required

#1001 docs(fr / no): add missing async
  www/src/pages/fr/usage/next-auth.md
  www/src/pages/no/usage/next-auth.md
Labels: 📚 documentation

#989 docs: update chinese translations
  www/src/config.ts
  www/src/pages/zh-hans/deployment/docker.md
  www/src/pages/zh-hans/deployment/index.astro
  www/src/pages/zh-hans/deployment/netlify.md
  www/src/pages/zh-hans/deployment/vercel.md
  www/src/pages/zh-hans/faq.md
  www/src/pages/zh-hans/folder-structure.mdx
  www/src/pages/zh-hans/installation.md
  www/src/pages/zh-hans/introduction.md
  www/src/pages/zh-hans/other-recs.md
  www/src/pages/zh-hans/t3-collection.md
  www/src/pages/zh-hans/usage/env-variables.md
  www/src/pages/zh-hans/usage/first-steps.md
  www/src/pages/zh-hans/usage/index.astro
  www/src/pages/zh-hans/usage/next-auth.md
  www/src/pages/zh-hans/usage/next-js.md
  www/src/pages/zh-hans/usage/prisma.md
  www/src/pages/zh-hans/usage/tailwind.md
  www/src/pages/zh-hans/usage/trpc.md
  www/src/pages/zh-hans/usage/typescript.md
  www/src/pages/zh-hans/why.md
Labels: 📚 documentation, 🌎 translation, 🙏 community review required

#1004 docs(zh-hans): add missing async
  www/src/pages/zh-hans/usage/next-auth.md
Labels: 📚 documentation

#1007 docs: changed lang select scrollbar
  www/src/components/navigation/LanguageSelect.tsx
  www/src/styles/global.css
Labels: 📚 documentation

#1006 docs: recommend `node:16-alpine3.16`
  www/src/pages/ar/deployment/docker.md
  www/src/pages/en/deployment/docker.md
  www/src/pages/fr/deployment/docker.md
  www/src/pages/no/deployment/docker.md
  www/src/pages/pt/deployment/docker.md
  www/src/pages/ru/deployment/docker.md
  www/src/pages/zh-hans/deployment/docker.md
Labels: 📚 documentation

#1013 feat: use next@13.1.1
  cli/template/base/package.json
Labels: 📌 area: cli, 📌 area: t3-app

#1012 chore: remove redundant content in folder structure file
  www/src/pages/en/folder-structure.mdx
Labels: 📚 documentation

#1010 chore(template): add @types/prettier package to tailwind installer
  .changeset/proud-rabbits-film.md
  cli/src/installers/index.ts
  cli/src/installers/tailwind.ts
Labels: 📌 area: cli

#1019 fix: revert link icon in RTL layout
  www/src/styles/global.css
Labels: 📚 documentation

#1011 docs(ru): Add netlify translation and some minor update
  www/src/pages/ru/deployment/netlify.md
  www/src/pages/ru/t3-collection.md
  www/src/pages/ru/usage/typescript.md
Labels: 📚 documentation

#1023 fix: horizontal scrolling in docs with RTL languages
  www/src/components/accessibility/jumpToContent.astro
Labels: 📚 documentation

#1022 docs: add note explaining the rationale for Alpine 3.16
  www/src/pages/en/deployment/docker.md
Labels: 📚 documentation

#1020 chore(ci): use pnpm for beta-release comment
  .github/workflows/prerelease-comment.yml
Labels: 📌 area: ci

#1024 fix: allow dot name
  .changeset/giant-years-flash.md
  cli/src/utils/validateAppName.ts
Labels: 📌 area: cli

#1027 docs: add analyzemyrepo.com to collection
  www/src/pages/en/t3-collection.md
Labels: 📚 documentation

#1015 docs: make scrollbar show on right in RTL
  www/src/components/navigation/LanguageSelect.tsx
Labels: 📚 documentation

#1031 feat: stage the template once created
  .changeset/big-scissors-compete.md
  cli/src/helpers/git.ts
  cli/src/index.ts
Labels: 📌 area: cli
