Repository t3-oss/create-t3-app, pull requests merged in 2022-08, with the labels that each got.

#317 feat: add base tslint
  .changeset/nervous-chefs-tie.md
  template/addons/prisma/client.ts
  template/base/.eslintrc.json
  template/base/package.json
Labels: area: t3-app

#350 docs: add new landing page
  package.json
  pnpm-lock.yaml
  tsconfig.json
  www/astro.config.mjs
  www/package.json
  www/public/assets/Logo.svg
  www/public/favicon.svg
  www/src/LandingPageComponents/Banner/banner.astro
  www/src/LandingPageComponents/CodeCard/codeCard.tsx
  www/src/LandingPageComponents/Community/community.astro
  www/src/LandingPageComponents/Example/example.astro
  www/src/LandingPageComponents/Features/features.astro
  www/src/LandingPageComponents/Features/nextauth.png
  www/src/LandingPageComponents/Features/trpcIcon.tsx
  www/src/LandingPageComponents/Footer/footer.astro
  www/src/LandingPageComponents/Navbar/mobileMenu.tsx
  www/src/LandingPageComponents/Navbar/mobileMenuButton.tsx
  www/src/LandingPageComponents/Navbar/navbar.astro
  www/src/LandingPageComponents/Tweets/tweet.astro
  www/src/LandingPageComponents/Tweets/tweets.astro
  www/src/components/header/header.astro
  www/src/components/header/search.tsx
  www/src/components/leftSidebar/leftSidebar.astro
  www/src/config.ts
  www/src/env.d.ts
  www/src/layouts/landingPage.astro
  www/src/pages/index.astro
  www/src/stores/mobileMenu.ts
  www/src/styles/global.css
  www/tailwind.config.cjs
Labels: documentation

#370 fix: version and env + refactor file structure
  pnpm-lock.yaml
  www/astro.config.mjs
  www/package.json
  www/public/assets/Logo.svg
  www/public/default-og-image.png
  www/public/favicon.ico
  www/public/robots.txt
  www/src/LandingPageComponents/Footer/footer.astro
  www/src/components/blog/avatarList.astro
  www/src/components/blog/pageContent.astro
  www/src/components/footer/footer.astro
  www/src/components/landingPage/about.astro
  www/src/components/landingPage/banner.astro
  www/src/components/landingPage/cli.tsx
  www/src/components/landingPage/community.astro
  www/src/components/landingPage/stack/card.astro
  www/src/components/landingPage/stack/nextauth.png
  www/src/components/landingPage/stack/stack.astro
  www/src/components/landingPage/tweets/tweet.astro
  www/src/components/landingPage/tweets/tweets.astro
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/mobileMenu.tsx
  www/src/components/navigation/mobileMenuButton.tsx
  www/src/components/navigation/moreMenu.astro
  www/src/components/navigation/navbar.astro
  www/src/components/navigation/rightSidebar.astro
  www/src/components/navigation/search.tsx
  www/src/components/navigation/sidebarToggle.tsx
  www/src/components/navigation/tableOfContents.tsx
  www/src/components/navigation/themeToggleButton.css
  www/src/components/navigation/themeToggleButton.tsx
  www/src/env.d.ts
  www/src/layouts/blog.astro
  www/src/layouts/landingPage.astro
  www/src/pages/en/deployment/docker.md
  www/src/pages/en/deployment/vercel.md
  www/src/pages/en/faq.md
  www/src/pages/en/installation.md
  www/src/pages/en/introduction.md
  www/src/pages/en/t3-axioms.md
  www/src/pages/en/t3-collection.md
  www/src/pages/en/why.md
  www/src/pages/index.astro
  www/src/stores/mobileMenu.ts
  www/tsconfig.json
Labels: documentation

#375 feat: add continue and overwrite option on existing dir
  .changeset/seven-pillows-exercise.md
  cli/src/helpers/scaffoldProject.ts
Labels: area: cli

#376 docs: update styling + add environment variables page
  www/src/components/blog/avatarList.astro
  www/src/components/blog/pageContent.astro
  www/src/components/footer/footer.astro
  www/src/components/landingPage/banner.astro
  www/src/components/landingPage/stack/card.astro
  www/src/components/landingPage/stack/nextauth.png
  www/src/components/navigation/TableOfContents.tsx
  www/src/components/navigation/moreMenu.astro
  www/src/layouts/blog.astro
  www/src/layouts/landingPage.astro
  www/src/pages/en/usage/env-variables.md
  www/src/styles/global.css
Labels: documentation

#381 feat: all technology cards in all templates
  .changeset/fuzzy-mangos-worry.md
  cli/template/base/src/pages/index.tsx
  cli/template/page-studs/index/with-auth-trpc.tsx
  cli/template/page-studs/index/with-trpc-tw.tsx
  cli/template/page-studs/index/with-trpc.tsx
  cli/template/page-studs/index/with-tw.tsx
Labels: area: t3-app

#384 docs: improve docker instuctions
  cli/template/base/README.md
  www/src/pages/en/deployment/docker.md
Labels: documentation, area: t3-app
