Repository t3-oss/create-t3-app, pull requests merged in 2023-02, with the labels that each got.

#1124 docs: Some Arabic rephrasing
  www/src/pages/ar/introduction.md
Labels: 📚 documentation

#1132 fix: correct language for gh stars count
  www/src/components/navigation/githubIcon.astro
Labels: 📚 documentation

#1158 chore(ci): add workflow to tag codeowners for docs changes
  .github/workflows/translations.yml
  www/TRANSLATIONS.md
Labels: 📚 documentation, 📌 area: ci

#1166 fix: translations action doesnt work on forks
  .github/workflows/translations.yml
Labels: 📌 area: ci

#1167 fix: also run workflow on `synchronize`
  .github/workflows/translations.yml
Labels: 📌 area: ci

#1168 fix: update JohnBakhmat name
  .github/workflows/translations.yml
Labels: 📌 area: ci

#1170 chore: update db.ts to make the use of .env consistent
  cli/template/extras/src/server/db.ts
Labels: 📌 area: cli, 📌 area: t3-app

#1164 chore: update linting config
  .eslintrc.cjs
  .vscode/settings.json
  cli/src/cli/index.ts
  cli/src/helpers/git.ts
  cli/src/index.ts
  cli/src/utils/parseNameAndPath.ts
  cli/src/utils/renderVersionWarning.ts
  package.json
  pnpm-lock.yaml
  www/src/utils/fetchGithub.ts
Labels: 📚 documentation, 📌 area: cli

#1095 docs: portuguese "why CT3A?" page typos
  www/src/pages/pt/why.md
Labels: 📚 documentation

#1171 fix: swapped ts-check comments to checkJs in tsconfig
  .changeset/tough-bees-serve.md
  cli/template/base/src/env/client.mjs
  cli/template/base/src/env/schema.mjs
  cli/template/base/src/env/server.mjs
  cli/template/extras/src/env/schema/with-auth-prisma.mjs
  cli/template/extras/src/env/schema/with-auth.mjs
  cli/template/extras/src/env/schema/with-prisma.mjs
  cli/tsconfig.json
  www/src/pages/en/faq.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1092 feat: single env file
  .changeset/loud-coats-sniff.md
  cli/src/installers/envVars.ts
  cli/template/base/next.config.mjs
  cli/template/base/src/env.mjs
  cli/template/base/tsconfig.json
  cli/template/extras/src/env/schema/with-auth-prisma.mjs
  cli/template/extras/src/env/schema/with-auth.mjs
  cli/template/extras/src/env/schema/with-prisma.mjs
  cli/template/extras/src/env/with-auth-prisma.mjs
  cli/template/extras/src/env/with-auth.mjs
  cli/template/extras/src/env/with-prisma.mjs
  cli/template/extras/src/pages/api/trpc/[trpc].ts
  cli/template/extras/src/server/auth/base.ts
  cli/template/extras/src/server/auth/with-prisma.ts
  cli/template/extras/src/server/db.ts
  www/src/components/docs/folderStructureDiagram.astro
  www/src/pages/ar/usage/env-variables.md
  www/src/pages/en/usage/env-variables.md
  www/src/pages/fr/usage/env-variables.md
  www/src/pages/no/usage/env-variables.md
  www/src/pages/pt/usage/env-variables.md
  www/src/pages/ru/usage/env-variables.md
  www/src/pages/zh-hans/usage/env-variables.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1174 test: Unique codeowner
  .github/workflows/translations.yml
  www/src/pages/no/folder-structure.md
  www/src/pages/no/installation.md
  www/src/pages/no/introduction.md
  www/src/pages/pl/faq.md
Labels: 📚 documentation, 📌 area: ci

#1175 Revert "test: Unique codeowner"
  .github/workflows/translations.yml
  www/src/pages/no/folder-structure.md
  www/src/pages/no/installation.md
  www/src/pages/no/introduction.md
  www/src/pages/pl/faq.md
Labels: 📚 documentation, 📌 area: ci

#1176 chore(ci): unique codeowners + split by lang
  .github/workflows/translations.yml
Labels: 📌 area: ci

#1165 docs: remove `unstable`
  www/src/pages/ar/usage/next-auth.md
  www/src/pages/fr/usage/next-auth.md
  www/src/pages/no/usage/next-auth.md
  www/src/pages/pl/usage/next-auth.md
  www/src/pages/pt/usage/next-auth.md
  www/src/pages/ru/usage/next-auth.md
  www/src/pages/zh-hans/usage/next-auth.md
Labels: 📚 documentation

#1094 docs: portuguese netlify page translation
  www/src/config.ts
  www/src/pages/pt/deployment/netlify.md
  www/src/pages/pt/other-recs.md
  www/src/pages/pt/t3-collection.md
Labels: 📚 documentation

#1185 chore: add MattFerreira18 to pt codeowners
  .github/workflows/translations.yml
Labels: 📌 area: ci

#1184 docs: update ru translation for env vars page
  www/src/pages/ru/usage/env-variables.md
Labels: 📚 documentation

#1187 fix: delete old env stuff
  .changeset/many-chefs-design.md
  cli/template/base/src/env/client.mjs
  cli/template/base/src/env/schema.mjs
  cli/template/base/src/env/server.mjs
Labels: 📌 area: cli, 📌 area: t3-app

#1195 docs: fixed numbered list
  www/src/pages/pl/deployment/vercel.md
Labels: 📚 documentation

#1196 feat: use `class:list` instead of `clsx` in astro components
  www/src/components/landingPage/pageSection.astro
  www/src/components/landingPage/tweets/tweetSlider.astro
  www/src/components/navigation/githubIcon.astro
  www/src/components/navigation/leftSidebar.astro
  www/src/components/navigation/moreMenu.astro
  www/src/components/navigation/navbar.astro
  www/src/components/navigation/sidebarToggle.astro
  www/src/components/navigation/tableOfContents.astro
Labels: 📚 documentation

#1194 feat: folder structure query params
  www/src/components/docs/folderStructureDiagram.astro
  www/src/components/docs/folderStructureForm.astro
Labels: 📚 documentation

#1161 docs: add URLs to Prisma database section
  www/src/pages/en/usage/first-steps.md
Labels: 📚 documentation

#1205 docs: added a link to the prisma migrate playground
  www/src/pages/en/usage/prisma.md
Labels: 📚 documentation

#1201 fix: hard code testimonials due to Twitter API changes
  www/src/components/landingPage/tweets/featuredTweets.ts
  www/src/components/landingPage/tweets/tweetCard.astro
  www/src/components/landingPage/tweets/tweetSlider.astro
  www/src/components/landingPage/tweets/tweets.astro
  www/src/components/landingPage/tweets/types.ts
Labels: 📚 documentation

#779 docs: spanish translation
  www/src/config.ts
  www/src/pages/es/deployment/docker.md
  www/src/pages/es/deployment/index.astro
  www/src/pages/es/deployment/netlify.md
  www/src/pages/es/deployment/vercel.md
  www/src/pages/es/faq.md
  www/src/pages/es/folder-structure.mdx
  www/src/pages/es/installation.md
  www/src/pages/es/introduction.md
  www/src/pages/es/other-recs.md
  www/src/pages/es/t3-collection.mdx
  www/src/pages/es/usage/env-variables.md
  www/src/pages/es/usage/first-steps.md
  www/src/pages/es/usage/index.astro
  www/src/pages/es/usage/next-auth.md
  www/src/pages/es/usage/next-js.md
  www/src/pages/es/usage/prisma.md
  www/src/pages/es/usage/tailwind.md
  www/src/pages/es/usage/trpc.md
  www/src/pages/es/usage/typescript.md
  www/src/pages/es/why.md
Labels: 📚 documentation, 🌎 translation

#1207 docs: improve Portuguese translation
  .github/workflows/translations.yml
  www/src/pages/pt/deployment/netlify.md
  www/src/pages/pt/usage/first-steps.md
  www/src/pages/pt/usage/prisma.md
Labels: 📚 documentation, 📌 area: ci

#1203 fix: update a non-exist version of @tanstack/react-query
  cli/src/installers/dependencyVersionMap.ts
Labels: 📌 area: cli

#1189 fix: remove ts-ignores on env.mjs
  .changeset/gold-berries-happen.md
  cli/template/base/src/env.mjs
  cli/template/extras/src/env/with-auth-prisma.mjs
  cli/template/extras/src/env/with-auth.mjs
  cli/template/extras/src/env/with-prisma.mjs
Labels: 📌 area: cli, 📌 area: t3-app

#1213 docs: Update comment in .env, as schema.mjs no longer exist
  .changeset/proud-papayas-hammer.md
  cli/src/installers/envVars.ts
Labels: 📌 area: cli

#1212 fix: overflow pr
  www/src/components/navigation/leftSidebar.astro
Labels: 📚 documentation

#1214 fix: wrong link
  www/vercel.json
Labels: 📚 documentation

#1191 feat: Use ~/* import alias
  .changeset/purple-carpets-cough.md
  cli/src/cli/index.ts
  cli/src/helpers/createProject.ts
  cli/src/helpers/setImportAlias.ts
  cli/src/index.ts
  cli/template/base/src/pages/_app.tsx
  cli/template/base/tsconfig.json
  cli/template/extras/src/pages/_app/with-auth-trpc.tsx
  cli/template/extras/src/pages/_app/with-auth.tsx
  cli/template/extras/src/pages/_app/with-trpc.tsx
  cli/template/extras/src/pages/api/auth/[...nextauth].ts
  cli/template/extras/src/pages/api/trpc/[trpc].ts
  cli/template/extras/src/pages/index/with-auth-trpc-tw.tsx
  cli/template/extras/src/pages/index/with-auth-trpc.tsx
  cli/template/extras/src/pages/index/with-trpc-tw.tsx
  cli/template/extras/src/pages/index/with-trpc.tsx
  cli/template/extras/src/server/api/root.ts
  cli/template/extras/src/server/api/routers/example/base.ts
  cli/template/extras/src/server/api/routers/example/with-auth-prisma.ts
  cli/template/extras/src/server/api/routers/example/with-auth.ts
  cli/template/extras/src/server/api/routers/example/with-prisma.ts
  cli/template/extras/src/server/api/trpc/with-auth-prisma.ts
  cli/template/extras/src/server/api/trpc/with-auth.ts
  cli/template/extras/src/server/api/trpc/with-prisma.ts
  cli/template/extras/src/server/auth/base.ts
  cli/template/extras/src/server/auth/with-prisma.ts
  cli/template/extras/src/server/db.ts
  cli/template/extras/src/utils/api.ts
Labels: 📌 area: cli, 📌 area: t3-app

#1190 docs: remove mentions of nonexistent next api routes
  www/src/pages/en/folder-structure.mdx
Labels: 📚 documentation

#1218 feat: Convert generated eslintrc file from JSON to CJS
  .changeset/chilled-feet-wait.md
  cli/src/index.ts
  cli/template/base/_eslintrc.cjs
  cli/template/base/_eslintrc.json
  cli/template/base/package.json
  cli/template/base/tsconfig.json
  www/src/components/docs/folderStructureDiagram.astro
  www/src/pages/ar/folder-structure.mdx
  www/src/pages/en/folder-structure.mdx
  www/src/pages/es/folder-structure.mdx
  www/src/pages/fr/folder-structure.mdx
  www/src/pages/no/folder-structure.md
  www/src/pages/pl/folder-structure.mdx
  www/src/pages/pt/folder-structure.mdx
  www/src/pages/ru/folder-structure.mdx
  www/src/pages/zh-hans/folder-structure.mdx
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1220 docs: update chinese translations
  www/src/pages/zh-hans/faq.md
  www/src/pages/zh-hans/folder-structure.mdx
  www/src/pages/zh-hans/t3-collection.mdx
  www/src/pages/zh-hans/usage/first-steps.md
  www/src/pages/zh-hans/usage/prisma.md
  www/src/pages/zh-hans/usage/trpc.md
Labels: 📚 documentation

#1222 fix: treat git bash as un-interactive
  .changeset/red-ducks-jam.md
  cli/src/cli/index.ts
Labels: 📌 area: cli

#1118 docs: Fix path
  www/src/pages/en/usage/prisma.md
Labels: 📚 documentation

#1117 docs: Add option to contribute via Codesandbox
  .codesandbox/tasks.json
  CONTRIBUTING.md
Labels: 📚 documentation

#1226 chore: Update to Astro 2.0
  cli/package.json
  cli/src/installers/index.ts
  package.json
  pnpm-lock.yaml
  www/astro.config.mjs
  www/package.json
Labels: 📚 documentation, 📌 area: cli

#1231 chore: Update CLI dependencies
  cli/package.json
  cli/template/base/package.json
  package.json
  pnpm-lock.yaml
  www/package.json
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1229 fix: Added dynamic lang code to navigation links
  www/src/components/navigation/navbar.astro
Labels: 📚 documentation

#1221 fix: Remove stray EOL char from README.md symlink
  README.md
Labels: 📚 documentation

#1235 docs: update chinese translation with #1227
  www/src/pages/zh-hans/faq.md
Labels: 📚 documentation

#1238 docs: add hitori
  www/src/components/docs/openSourceAppList.tsx
Labels: 📚 documentation

#1242 docs: Update openSourceAppList.tsx
  www/src/components/docs/openSourceAppList.tsx
Labels: 📚 documentation

#1232 fix: bind configs to variables before exporting to make sure typeerrors are reported
  .changeset/odd-spies-appear.md
  .eslintrc.cjs
  .prettierrc.cjs
  cli/.prettierrc.cjs
  cli/template/base/_eslintrc.cjs
  cli/template/base/src/env.mjs
  cli/template/extras/config/postcss.config.cjs
  cli/template/extras/config/prettier.config.cjs
  cli/template/extras/config/tailwind.config.cjs
  package.json
  pnpm-lock.yaml
  www/.eslintrc.cjs
  www/.prettierrc.cjs
  www/tailwind.config.cjs
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1245 docs: no translation
  www/src/config.ts
  www/src/pages/no/deployment/netlify.md
  www/src/pages/no/faq.md
  www/src/pages/no/folder-structure.md
  www/src/pages/no/folder-structure.mdx
  www/src/pages/no/other-recs.md
  www/src/pages/no/usage/first-steps.md
  www/src/pages/no/usage/next-auth.md
  www/src/pages/no/usage/prisma.md
  www/src/pages/no/usage/trpc.md
Labels: 📚 documentation

#1234 feat: add ts-reset to create-t3-app monorepo (not t3-app)
  cli/tsconfig.json
  package.json
  pnpm-lock.yaml
  reset.d.ts
  www/src/utils/fetchGithub.ts
  www/tsconfig.json
Labels: 📚 documentation, 📌 area: cli

#1249 chore: bump nextjs
  .changeset/tiny-news-move.md
  cli/template/base/package.json
Labels: 📌 area: cli, 📌 area: t3-app

#1253 fix: favicon
  cli/template/base/public/favicon.ico
Labels: 📌 area: cli, 📌 area: t3-app

#1252 fix: ensure .eslint.cjs is included in git
  .changeset/poor-grapes-think.md
  cli/src/index.ts
Labels: 📌 area: cli
