Repository t3-oss/create-t3-app, pull requests merged in 2023-11, with the labels that each got.

#1636 docs: Update openSourceAppList.tsx add rao.pics
  www/src/components/docs/openSourceAppList.tsx
Labels: 📚 documentation

#1642 docs: upgrade current Dockerfile to newer images
  www/src/pages/en/deployment/docker.md
Labels: 📚 documentation

#1601 docs: Added new company to companies list
  www/src/components/docs/companyList.tsx
Labels: 📚 documentation

#1651 chore: updates tsconfig.json
  .changeset/silver-jobs-wave.md
  cli/package.json
  cli/src/installers/dependencyVersionMap.ts
  cli/template/base/tsconfig.json
  pnpm-lock.yaml
Labels: 📌 area: cli, 📌 area: t3-app

#1661 fix: update sharp
  .changeset/fluffy-spiders-lie.md
  pnpm-lock.yaml
  www/package.json
Labels: 📚 documentation

#1649 docs: Add eboto to openSourceAppList.tsx
  www/src/components/docs/openSourceAppList.tsx
Labels: 📚 documentation

#1647 fix: Add sessions relation in drizzle-schema-auth
  cli/template/extras/src/server/db/drizzle-schema-auth.ts
Labels: 📌 area: cli, 📌 area: t3-app

#1664 fix: replace a `2` with `"error"` in eslint config
  .changeset/smooth-buckets-search.md
  cli/template/base/_eslintrc.cjs
Labels: 📌 area: cli, 📌 area: t3-app

#1666 refactor: use `type: module`
  .changeset/rich-seahorses-happen.md
  cli/src/helpers/createProject.ts
  cli/src/installers/envVars.ts
  cli/src/installers/tailwind.ts
  cli/template/base/next.config.js
  cli/template/base/package.json
  cli/template/base/src/env.js
  cli/template/base/tsconfig.json
  cli/template/extras/config/_prettier.config.js
  cli/template/extras/config/drizzle.config.ts
  cli/template/extras/config/next-config-appdir.js
  cli/template/extras/src/app/api/trpc/[trpc]/route.ts
  cli/template/extras/src/env/with-auth-db.js
  cli/template/extras/src/env/with-auth.js
  cli/template/extras/src/env/with-db.js
  cli/template/extras/src/pages/api/trpc/[trpc].ts
  cli/template/extras/src/server/auth-app/base.ts
  cli/template/extras/src/server/auth-app/with-drizzle.ts
  cli/template/extras/src/server/auth-app/with-prisma.ts
  cli/template/extras/src/server/auth-pages/base.ts
  cli/template/extras/src/server/auth-pages/with-drizzle.ts
  cli/template/extras/src/server/auth-pages/with-prisma.ts
  cli/template/extras/src/server/db/db-prisma.ts
  cli/template/extras/src/server/db/index-drizzle.ts
  upgrade/next.config.js
  upgrade/package.json
  upgrade/prettier.config.js
  upgrade/src/env.js
  upgrade/src/lib/utils.ts
  upgrade/tsconfig.json
  www/src/components/docs/folderStructureDiagram.astro
  www/src/pages/ar/deployment/docker.md
  www/src/pages/ar/folder-structure.mdx
  www/src/pages/ar/usage/env-variables.md
  www/src/pages/en/deployment/docker.md
  www/src/pages/en/usage/env-variables.mdx
  www/src/pages/es/deployment/docker.md
  www/src/pages/fr/deployment/docker.md
  www/src/pages/fr/usage/env-variables.mdx
  www/src/pages/ja/deployment/docker.md
  www/src/pages/ja/usage/env-variables.mdx
  www/src/pages/no/deployment/docker.md
  www/src/pages/no/usage/env-variables.md
  www/src/pages/pl/deployment/docker.md
  www/src/pages/pl/usage/env-variables.md
  www/src/pages/pt/deployment/docker.md
  www/src/pages/pt/usage/env-variables.mdx
  www/src/pages/ru/deployment/docker.md
  www/src/pages/ru/usage/env-variables.mdx
  www/src/pages/zh-hans/deployment/docker.md
  www/src/pages/zh-hans/usage/env-variables.mdx
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1670 feat: skip http for trpc rsc calls
  .changeset/slimy-monkeys-sin.md
  cli/src/installers/dependencyVersionMap.ts
  cli/src/installers/trpc.ts
  cli/template/base/_eslintrc.cjs
  cli/template/extras/src/app/api/trpc/[trpc]/route.ts
  cli/template/extras/src/server/api/trpc-app/base.ts
  cli/template/extras/src/server/api/trpc-app/with-auth-db.ts
  cli/template/extras/src/server/api/trpc-app/with-auth.ts
  cli/template/extras/src/server/api/trpc-app/with-db.ts
  cli/template/extras/src/trpc/server.ts
Labels: 📌 area: cli, 📌 area: t3-app, 🚀 autorelease

#1673 fix: Use the correct types for `prettier-plugin-tailwindcss`
  .changeset/nervous-seals-reflect.md
  cli/prettier.config.mjs
  cli/template/extras/config/_prettier.config.js
  upgrade/prettier.config.js
  www/prettier.config.mjs
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1657 feat(ar): make other recs consistent with the rest of the page
  www/src/pages/ar/other-recs.md
Labels: 📚 documentation
