Repository t3-oss/create-t3-app, pull requests merged in 2023-10, with the labels that each got.

#1572 docs(ru): Updating ru translation
  www/src/pages/ru/other-recs.md
  www/src/pages/ru/t3-collection.mdx
Labels: 📚 documentation

#1582 docs: update session callback
  www/src/pages/en/usage/next-auth.mdx
Labels: 📚 documentation

#1584 chore: bump some dips
  .changeset/stupid-pandas-shop.md
  .github/workflows/e2e.yml
  cli/package.json
  cli/template/base/package.json
  cli/template/base/src/env.mjs
  cli/template/extras/src/env/with-auth-db.mjs
  cli/template/extras/src/env/with-auth.mjs
  cli/template/extras/src/env/with-db.mjs
  pnpm-lock.yaml
  upgrade/package.json
  upgrade/src/env.mjs
  www/package.json
  www/src/pages/ar/usage/env-variables.md
  www/src/pages/en/usage/env-variables.mdx
  www/src/pages/es/usage/env-variables.md
  www/src/pages/fr/usage/env-variables.mdx
  www/src/pages/ja/usage/env-variables.mdx
  www/src/pages/no/usage/env-variables.md
  www/src/pages/pl/usage/env-variables.md
  www/src/pages/pt/usage/env-variables.mdx
  www/src/pages/ru/usage/env-variables.mdx
  www/src/pages/zh-hans/usage/env-variables.mdx
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app, 📌 area: ci

#1576 feat(docs): start any example in stackblitz
  pnpm-lock.yaml
  www/package.json
  www/src/components/docs/exampleOptionForm.astro
  www/src/config.ts
  www/src/pages/en/examples.mdx
Labels: 📚 documentation

#1586 fix(ci): rerun pr linter on edit
  .github/workflows/pr-labeler.yml
Labels: 📌 area: ci

#1590 Add examples translation for french language
  www/src/config.ts
  www/src/pages/fr/examples.mdx
Labels: 📚 documentation

#1589 docs(add new project): Add new example project for notes taking app
  www/src/components/docs/openSourceAppList.tsx
Labels: 📚 documentation

#1595 feat: show callout when scaffolding with app router
  .changeset/light-steaks-happen.md
  cli/src/helpers/logNextSteps.ts
  cli/src/index.ts
Labels: 📌 area: cli

#1598 docs: correct number of commands for scaffolding an app
  cli/README.md
Labels: 📚 documentation, 📌 area: cli

#1612 feat: Add Dropdown for Installation Commands on Homepage
  cli/README.md
  www/src/components/landingPage/ClipboardSelect.tsx
  www/src/components/landingPage/banner.astro
  www/src/pages/ar/installation.mdx
  www/src/pages/en/installation.mdx
  www/src/pages/es/installation.mdx
  www/src/pages/fr/installation.mdx
  www/src/pages/ja/installation.mdx
  www/src/pages/no/installation.mdx
  www/src/pages/pl/installation.mdx
  www/src/pages/pt/installation.mdx
  www/src/pages/ru/installation.mdx
  www/src/pages/zh-hans/installation.mdx
  www/tailwind.config.ts
Labels: 📚 documentation, 📌 area: cli

#1624 fix: Reverted incorrect fixes, fixed landing page cmd
  www/src/components/landingPage/banner.astro
Labels: 📚 documentation

#1625 ci: :zap: Add /cli change validation to CI workflow
  .github/workflows/ci.yml
Labels: 📌 area: ci
