Repository t3-oss/create-t3-app, pull requests merged in 2023-06, with the labels that each got.

#1459 fix: incorrect language code for japanese translators github action
  .github/workflows/translations.yml
Labels: 📌 area: ci

#1454 fix(www): remove extra line space in Tech Stack Cards of Landing Page
  www/src/components/landingPage/stack/card.astro
Labels: 📚 documentation

#1453 docs: update chinese translation
  www/src/pages/zh-hans/faq.mdx
Labels: 📚 documentation

#1468 docs: rm nexxel's tutorial
  www/src/pages/en/faq.mdx
Labels: 📚 documentation

#1469 chore: Replace React.FC and NextPage types with basic function syntax
  .changeset/healthy-toes-matter.md
  cli/template/base/src/pages/index.tsx
  cli/template/extras/src/pages/index/with-auth-trpc-tw.tsx
  cli/template/extras/src/pages/index/with-auth-trpc.tsx
  cli/template/extras/src/pages/index/with-trpc-tw.tsx
  cli/template/extras/src/pages/index/with-trpc.tsx
  cli/template/extras/src/pages/index/with-tw.tsx
Labels: 📌 area: cli, 📌 area: t3-app

#1466 feat: remove possible trailing slash from appName prompt
  .changeset/perfect-geckos-behave.md
  cli/src/utils/parseNameAndPath.ts
  cli/src/utils/removeTrailingSlash.ts
  cli/src/utils/validateAppName.ts
Labels: 📌 area: cli

#1465 docs: update chinese translation
  www/src/pages/zh-hans/t3-collection.mdx
Labels: 📚 documentation

#1473 docs: fix unclear env bits and add coercion docs
  www/src/pages/en/usage/env-variables.mdx
Labels: 📚 documentation

#1463 fix: Add new line between config definition and config export.
  cli/template/base/next.config.mjs
Labels: 📌 area: cli, 📌 area: t3-app

#1479 feat: use custom error class for isTTYError
  .changeset/funny-spoons-unite.md
  cli/src/cli/index.ts
  cli/src/utils/isTTYError.ts
Labels: 📌 area: cli

#1482 feat: add reminder to commit after creating app
  .changeset/late-starfishes-kiss.md
  cli/src/helpers/logNextSteps.ts
Labels: 📌 area: cli

#1458 docs(pages): update Japanese translation of env-variables.mdx
  .changeset/config.json
  .changeset/late-starfishes-kiss.md
  .changeset/thin-crabs-fold.md
  www/src/pages/ja/usage/env-variables.mdx
  www/src/pages/ja/usage/next-auth.mdx
Labels: 📚 documentation

#1484 fix: Revert "docs(pages): update Japanese translation of env-variables.mdx"
  .changeset/config.json
  .changeset/late-starfishes-kiss.md
  .changeset/thin-crabs-fold.md
  www/src/pages/ja/usage/env-variables.mdx
  www/src/pages/ja/usage/next-auth.md
Labels: 📚 documentation

#1487 docs: add GreatFrontEnd to company list
  www/src/components/docs/companyList.tsx
Labels: 📚 documentation

#1491 fix: add spacing between github icon and star bubble icon
  www/src/components/navigation/githubIcon.astro
Labels: 📚 documentation

#1493 fix: Disallow trailing commas in cli template code to match the generated prettier config
  .changeset/gentle-impalas-doubt.md
  cli/.prettierrc.cjs
  cli/src/cli/index.ts
  cli/src/helpers/git.ts
  cli/src/helpers/installDependencies.ts
  cli/src/helpers/installPackages.ts
  cli/src/helpers/logNextSteps.ts
  cli/src/helpers/scaffoldProject.ts
  cli/src/helpers/setImportAlias.ts
  cli/src/index.ts
  cli/src/installers/envVars.ts
  cli/src/installers/index.ts
  cli/src/installers/nextAuth.ts
  cli/src/installers/prisma.ts
  cli/src/installers/trpc.ts
  cli/src/utils/addPackageDependency.ts
  cli/src/utils/renderVersionWarning.ts
  cli/template/extras/src/env/with-auth-prisma.mjs
  cli/template/extras/src/env/with-auth.mjs
  cli/template/extras/src/pages/api/trpc/[trpc].ts
  cli/template/extras/src/pages/index/with-auth-trpc-tw.tsx
  cli/template/extras/src/pages/index/with-auth-trpc.tsx
Labels: 📌 area: cli, 📌 area: t3-app
