Repository t3-oss/create-t3-app, pull requests merged in 2023-01, with the labels that each got.

#1043 fix(cli): exit with error code when aborting installation
  .changeset/green-laws-hammer.md
  cli/src/helpers/scaffoldProject.ts
Labels: 📌 area: cli

#1032 feat: make the reference to create t3 app consistent
  www/src/pages/en/faq.md
  www/src/pages/en/folder-structure.mdx
  www/src/pages/en/introduction.md
  www/src/pages/en/other-recs.md
  www/src/pages/en/usage/env-variables.md
  www/src/pages/en/usage/first-steps.md
  www/src/pages/en/usage/next-auth.md
  www/src/pages/en/why.md
Labels: 📚 documentation

#1046 feat: add comment about other providers to next-auth API handler (v7)
  cli/template/extras/src/pages/api/auth/[...nextauth]/base.ts
  cli/template/extras/src/pages/api/auth/[...nextauth]/with-prisma.ts
Labels: 📌 area: cli, 📌 area: t3-app

#1056 fix: update name prop before installing deps
  .changeset/pink-rabbits-fetch.md
  cli/src/index.ts
Labels: 📌 area: cli

#1036 feat: use typescript-eslint's recommended-requiring-type-checking
  .changeset/dry-items-tie.md
  .eslintrc.cjs
  .gitignore
  .turbo-cookie
  cli/package.json
  cli/src/cli/index.ts
  cli/src/installers/dependencyVersionMap.ts
  cli/src/installers/index.ts
  cli/src/installers/nextAuth.ts
  cli/src/installers/prisma.ts
  cli/src/utils/addPackageDependency.ts
  cli/src/utils/renderVersionWarning.ts
  cli/template/base/.eslintrc.json
  cli/template/extras/src/pages/api/trpc/[trpc].ts
  cli/template/extras/src/pages/index/with-auth-trpc-tw.tsx
  cli/template/extras/src/pages/index/with-auth-trpc.tsx
  cli/template/extras/src/server/api/trpc/base.ts
  cli/template/extras/src/server/api/trpc/with-auth-prisma.ts
  cli/template/extras/src/server/api/trpc/with-auth.ts
  cli/template/extras/src/server/api/trpc/with-prisma.ts
  tsconfig.eslint.json
  www/.eslintrc.cjs
  www/package.json
  www/src/components/docs/breadCrumbs.tsx
  www/src/components/docs/outdatedDocsBanner.astro
  www/src/components/docs/pagination.astro
  www/src/components/navigation/Search.tsx
  www/src/components/navigation/githubIcon.astro
  www/src/config.ts
  www/src/utils/fetchGithub.ts
  www/src/utils/pagination.ts
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1050 docs: upgrade french docs with #934, #1032 and #1044
  www/src/pages/en/usage/prisma.md
  www/src/pages/fr/faq.md
  www/src/pages/fr/folder-structure.mdx
  www/src/pages/fr/introduction.md
  www/src/pages/fr/other-recs.md
  www/src/pages/fr/t3-collection.md
  www/src/pages/fr/usage/env-variables.md
  www/src/pages/fr/usage/first-steps.md
  www/src/pages/fr/usage/next-auth.md
  www/src/pages/fr/usage/prisma.md
  www/src/pages/fr/usage/trpc.md
  www/src/pages/fr/why.md
Labels: 📚 documentation

#1021 feat: construct `serverEnv`, like we do with `clientEnv` #1000
  .changeset/perfect-tomatoes-protect.md
  cli/template/base/src/env/schema.mjs
  cli/template/base/src/env/server.mjs
  cli/template/extras/src/env/schema/with-auth-prisma.mjs
  cli/template/extras/src/env/schema/with-auth.mjs
  cli/template/extras/src/env/schema/with-prisma.mjs
  www/src/pages/ar/usage/env-variables.md
  www/src/pages/en/usage/env-variables.md
  www/src/pages/fr/usage/env-variables.md
  www/src/pages/no/usage/env-variables.md
  www/src/pages/pt/usage/env-variables.md
  www/src/pages/ru/usage/env-variables.md
  www/src/pages/zh-hans/usage/env-variables.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1060 fix: cleanup context type in `initTRPC`
  .changeset/neat-singers-teach.md
  cli/src/installers/dependencyVersionMap.ts
  cli/template/extras/src/server/api/trpc/base.ts
  cli/template/extras/src/server/api/trpc/with-auth-prisma.ts
  cli/template/extras/src/server/api/trpc/with-auth.ts
  cli/template/extras/src/server/api/trpc/with-prisma.ts
Labels: 📌 area: cli, 📌 area: t3-app

#1066 fix: "ONLY the parts you need" card height css
  www/src/components/landingPage/stack/card.astro
Labels: 📚 documentation

#1073 fix(doc): a typo in t3-collection
  www/src/pages/en/t3-collection.md
Labels: 📚 documentation

#1071 feat: Deprecate Manual Declarations of `clientEnv` & `serverEnv`
  cli/template/base/src/env/client.mjs
  cli/template/base/src/env/schema.mjs
  cli/template/base/src/env/server.mjs
  cli/template/extras/src/env/schema/with-auth-prisma.mjs
  cli/template/extras/src/env/schema/with-auth.mjs
  cli/template/extras/src/env/schema/with-prisma.mjs
  www/src/pages/ar/usage/env-variables.md
  www/src/pages/en/usage/env-variables.md
  www/src/pages/fr/usage/env-variables.md
  www/src/pages/no/usage/env-variables.md
  www/src/pages/pt/usage/env-variables.md
  www/src/pages/ru/usage/env-variables.md
  www/src/pages/zh-hans/usage/env-variables.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1008 feat: proofread Arabic docs
  www/src/config.ts
  www/src/pages/ar/faq.md
  www/src/pages/ar/folder-structure.mdx
  www/src/pages/ar/installation.md
  www/src/pages/ar/t3-collection.md
  www/src/pages/ar/why.md
Labels: 📚 documentation

#1081 docs: correct spelling of "npx prisma db push"
  www/src/pages/ar/usage/first-steps.md
Labels: 📚 documentation

#1082 fix: fix typo regarding merging routers
  www/src/pages/en/usage/trpc.md
Labels: 📚 documentation

#1084 fix: undo env changes
  .changeset/fresh-melons-enjoy.md
  cli/template/base/src/env/client.mjs
  cli/template/base/src/env/schema.mjs
  cli/template/base/src/env/server.mjs
  cli/template/extras/src/env/schema/with-auth-prisma.mjs
  cli/template/extras/src/env/schema/with-auth.mjs
  cli/template/extras/src/env/schema/with-prisma.mjs
  www/src/pages/ar/usage/env-variables.md
  www/src/pages/en/usage/env-variables.md
  www/src/pages/fr/usage/env-variables.md
  www/src/pages/no/usage/env-variables.md
  www/src/pages/pt/usage/env-variables.md
  www/src/pages/ru/usage/env-variables.md
  www/src/pages/zh-hans/usage/env-variables.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1088 fix(docs): updated domain and GitHub URL to my portfolio for all languages
  www/src/pages/ar/t3-collection.md
  www/src/pages/en/t3-collection.md
  www/src/pages/fr/t3-collection.md
  www/src/pages/no/t3-collection.md
  www/src/pages/pt/t3-collection.md
  www/src/pages/ru/t3-collection.md
  www/src/pages/zh-hans/t3-collection.md
Labels: 📚 documentation

#775 docs: polish translation
  www/src/components/navigation/leftSidebar.astro
  www/src/config.ts
  www/src/pages/pl/deployment/docker.md
  www/src/pages/pl/deployment/index.astro
  www/src/pages/pl/deployment/netlify.md
  www/src/pages/pl/deployment/vercel.md
  www/src/pages/pl/faq.md
  www/src/pages/pl/folder-structure.mdx
  www/src/pages/pl/installation.md
  www/src/pages/pl/introduction.md
  www/src/pages/pl/other-recs.md
  www/src/pages/pl/t3-collection.md
  www/src/pages/pl/usage/env-variables.md
  www/src/pages/pl/usage/first-steps.md
  www/src/pages/pl/usage/index.astro
  www/src/pages/pl/usage/next-auth.md
  www/src/pages/pl/usage/next-js.md
  www/src/pages/pl/usage/prisma.md
  www/src/pages/pl/usage/tailwind.md
  www/src/pages/pl/usage/trpc.md
  www/src/pages/pl/usage/typescript.md
  www/src/pages/pl/why.md
Labels: 📚 documentation, 🌎 translation

#1089 docs(ru): ru translation update
  www/src/config.ts
  www/src/pages/ru/deployment/docker.md
  www/src/pages/ru/deployment/vercel.md
  www/src/pages/ru/faq.md
  www/src/pages/ru/folder-structure.mdx
  www/src/pages/ru/t3-collection.md
  www/src/pages/ru/usage/next-auth.md
  www/src/pages/ru/usage/prisma.md
  www/src/pages/ru/usage/trpc.md
Labels: 📚 documentation

#1051 feat(docs): wrap div that follow docs direction around the code elements
  www/src/components/docs/pageContent.astro
  www/src/styles/global.css
Labels: 📚 documentation

#1075 docs: upgrade chinese docs
  www/src/pages/zh-hans/faq.md
  www/src/pages/zh-hans/introduction.md
  www/src/pages/zh-hans/other-recs.md
  www/src/pages/zh-hans/t3-collection.md
  www/src/pages/zh-hans/usage/first-steps.md
  www/src/pages/zh-hans/usage/next-auth.md
  www/src/pages/zh-hans/usage/prisma.md
  www/src/pages/zh-hans/usage/trpc.md
  www/src/pages/zh-hans/why.md
Labels: 📚 documentation

#1097 chore: bump nextjs and add info bout appDir+i18n
  .changeset/smart-spoons-kiss.md
  cli/template/base/next.config.mjs
  cli/template/base/package.json
Labels: 📌 area: cli, 📌 area: t3-app

#1099 fix(doc): a styling issue of the inline code blocks
  www/src/components/docs/pageContent.astro
Labels: 📚 documentation

#1104 fix: Add missing apostrophe to word "don't"
  cli/template/extras/src/server/api/trpc/base.ts
Labels: 📌 area: cli, 📌 area: t3-app

#1102 fix: code wrapper not applying styles in firefox
  www/src/components/docs/pageContent.astro
  www/src/styles/global.css
Labels: 📚 documentation

#1105 fix(doc): Fix the broken styling of the code blocks
  www/src/components/docs/pageContent.astro
Labels: 📚 documentation

#1103 fix: fetch contributors from correct path
  www/src/pages/ar/folder-structure.mdx
  www/src/pages/en/folder-structure.mdx
  www/src/pages/fr/folder-structure.mdx
  www/src/pages/pl/folder-structure.mdx
  www/src/pages/ru/folder-structure.mdx
  www/src/pages/zh-hans/folder-structure.mdx
Labels: 📚 documentation

#1107 fix: stage changes after installing deps
  cli/src/index.ts
Labels: 📌 area: cli

#1110 docs: reorder trpc page and add video
  www/src/pages/en/usage/trpc.md
Labels: 📚 documentation

#1101 fix(doc): dockerFile builds fail as openssl1.1-compat doesn't exist
  www/src/pages/ar/deployment/docker.md
  www/src/pages/en/deployment/docker.md
  www/src/pages/fr/deployment/docker.md
  www/src/pages/no/deployment/docker.md
  www/src/pages/pl/deployment/docker.md
  www/src/pages/pt/deployment/docker.md
  www/src/pages/ru/deployment/docker.md
  www/src/pages/zh-hans/deployment/docker.md
Labels: 📚 documentation

#1114 docs: update french translation with #1110
  www/src/pages/fr/usage/trpc.md
Labels: 📚 documentation

#1115 docs: refactor t3 collection into components & add answer overflow to t3 open source appps
  www/src/components/docs/companyList.tsx
  www/src/components/docs/openSourceAppList.tsx
  www/src/pages/ar/t3-collection.md
  www/src/pages/ar/t3-collection.mdx
  www/src/pages/en/t3-collection.md
  www/src/pages/en/t3-collection.mdx
  www/src/pages/fr/t3-collection.md
  www/src/pages/fr/t3-collection.mdx
  www/src/pages/no/t3-collection.md
  www/src/pages/no/t3-collection.mdx
  www/src/pages/pl/t3-collection.md
  www/src/pages/pl/t3-collection.mdx
  www/src/pages/pt/t3-collection.md
  www/src/pages/pt/t3-collection.mdx
  www/src/pages/ru/t3-collection.md
  www/src/pages/ru/t3-collection.mdx
  www/src/pages/zh-hans/t3-collection.md
  www/src/pages/zh-hans/t3-collection.mdx
Labels: 📚 documentation

#1123 fix: improve readability of gh stars counter
  www/src/components/navigation/githubIcon.astro
Labels: 📚 documentation

#1137 fix(www): check defined
  www/src/components/docs/avatarList.astro
Labels: 📚 documentation

#1136 refactor: colocate auth stuff and bump some stuff
  cli/package.json
  cli/src/installers/dependencyVersionMap.ts
  cli/src/installers/nextAuth.ts
  cli/template/base/package.json
  cli/template/extras/src/pages/api/auth/[...nextauth].ts
  cli/template/extras/src/pages/api/auth/[...nextauth]/base.ts
  cli/template/extras/src/pages/api/auth/[...nextauth]/with-prisma.ts
  cli/template/extras/src/server/auth.ts
  cli/template/extras/src/server/auth/base.ts
  cli/template/extras/src/server/auth/with-prisma.ts
  cli/template/extras/src/server/db.ts
  cli/template/extras/src/types/next-auth.d.ts
  pnpm-lock.yaml
  www/src/components/docs/folderStructureDiagram.astro
  www/src/pages/en/folder-structure.mdx
  www/src/pages/en/usage/next-auth.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1134 feat: added package installation progress
  .changeset/sour-rings-tell.md
  cli/src/helpers/installDependencies.ts
Labels: 📌 area: cli

#1131 fix: fix type of serverEnv and clientEnv
  .changeset/quiet-carrots-push.md
  cli/template/base/src/env/schema.mjs
  cli/template/extras/src/env/schema/with-auth-prisma.mjs
  cli/template/extras/src/env/schema/with-auth.mjs
  cli/template/extras/src/env/schema/with-prisma.mjs
Labels: 📌 area: cli, 📌 area: t3-app

#1140 fix: env vars
  .changeset/rich-seas-speak.md
  cli/src/installers/envVars.ts
Labels: 📌 area: cli

#1146 fix: update renamed variable in the tRPC Usage page
  www/src/pages/en/usage/trpc.md
Labels: 📚 documentation

#1152 chore(ci): add changeset step to ci
  .github/workflows/ci.yml
Labels: 📌 area: ci

#1155 fix: update unstable_getServerSession to getServerSession
  .changeset/nasty-points-warn.md
  cli/template/extras/src/server/api/trpc/with-auth-prisma.ts
  cli/template/extras/src/server/api/trpc/with-auth.ts
  www/src/pages/ar/usage/next-auth.md
  www/src/pages/en/usage/next-auth.md
  www/src/pages/fr/usage/next-auth.md
  www/src/pages/no/usage/next-auth.md
  www/src/pages/pl/usage/next-auth.md
  www/src/pages/pt/usage/next-auth.md
  www/src/pages/ru/usage/next-auth.md
  www/src/pages/zh-hans/usage/next-auth.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1148 fix: feature card header overflow
  www/src/components/landingPage/stack/card.astro
Labels: 📚 documentation
