Repository t3-oss/create-t3-app, pull requests merged in 2023-12, with the labels that each got.

#1511 docs: Update JWT code example to latest codebase
  www/src/pages/en/usage/next-auth.mdx
Labels: 📚 documentation

#1692 docs: Fixed some typo in the documentation
  www/src/pages/en/deployment/netlify.mdx
  www/src/pages/en/deployment/vercel.md
  www/src/pages/en/installation.mdx
  www/src/pages/en/usage/prisma.md
  www/src/pages/en/usage/trpc.md
  www/src/pages/en/why.md
Labels: 📚 documentation

#1690 fix: typo in env.mjs
  .changeset/thick-comics-punch.md
  cli/template/extras/src/env/with-auth-db.js
  cli/template/extras/src/env/with-auth.js
Labels: 📌 area: cli, 📌 area: t3-app

#1698 docs: remove hitori from app list
  www/src/components/docs/openSourceAppList.tsx
Labels: 📚 documentation

#1700 feat: replace josh's showcase entry
  www/src/components/docs/companyList.tsx
  www/src/components/docs/openSourceAppList.tsx
Labels: 📚 documentation

#1702 feat: update drizzle-kit and change connectionString to uri
  .changeset/old-jokes-drive.md
  cli/package.json
  cli/src/installers/dependencyVersionMap.ts
  cli/template/extras/config/drizzle.config.ts
  pnpm-lock.yaml
Labels: 📌 area: cli, 📌 area: t3-app

#1708 chore: drop `t.middleware()`
  .changeset/tidy-panthers-mate.md
  .vscode/settings.json
  cli/template/extras/src/server/api/trpc-app/with-auth-db.ts
  cli/template/extras/src/server/api/trpc-app/with-auth.ts
  cli/template/extras/src/server/api/trpc-pages/with-auth-db.ts
  cli/template/extras/src/server/api/trpc-pages/with-auth.ts
  www/src/pages/ar/usage/next-auth.md
  www/src/pages/en/usage/next-auth.mdx
  www/src/pages/es/usage/next-auth.md
  www/src/pages/fr/usage/next-auth.mdx
  www/src/pages/ja/usage/next-auth.md
  www/src/pages/no/usage/next-auth.md
  www/src/pages/pl/usage/next-auth.md
  www/src/pages/pt/usage/next-auth.md
  www/src/pages/ru/usage/next-auth.md
  www/src/pages/zh-hans/usage/next-auth.mdx
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1697 fix: remove redundant expression
  www/src/components/docs/breadCrumbs.tsx
Labels: 📚 documentation

#1672 docs: Added a website which uses t3
  www/src/components/docs/companyList.tsx
Labels: 📚 documentation

#1707 chore: update drizzle-orm and drizzle-kit
  .changeset/thirty-papayas-push.md
  cli/package.json
  cli/src/installers/dependencyVersionMap.ts
  cli/src/installers/drizzle.ts
  pnpm-lock.yaml
Labels: 📌 area: cli

#1703 fix: update eslint setup for next 14.0.4
  .changeset/fair-colts-approve.md
  cli/template/base/_eslintrc.cjs
  cli/template/base/package.json
Labels: 📌 area: cli, 📌 area: t3-app
