Repository t3-oss/create-t3-app, pull requests merged in 2023-03, with the labels that each got.

#1255 feat: Add validation for import aliases
  .changeset/great-buckets-relate.md
  cli/src/cli/index.ts
  cli/src/utils/validateImportAlias.ts
Labels: 📌 area: cli

#1256 docs: add an example of testing a protected procedure
  www/src/pages/en/usage/trpc.md
Labels: 📚 documentation

#1243 docs: accessibility improvements
  www/src/components/landingPage/stack/card.astro
  www/src/components/landingPage/tweets/tweetCard.astro
  www/src/components/navigation/Search.tsx
Labels: 📚 documentation

#1266 fix: Typo
  www/src/pages/en/usage/trpc.md
Labels: 📚 documentation

#1268 feat: ignore vars that start with `_` for eslint no-unused-vars ignore
  .changeset/nice-bugs-tickle.md
  cli/template/base/_eslintrc.cjs
Labels: 📌 area: cli, 📌 area: t3-app

#1274 docs: add shadcn UI
  www/src/pages/en/other-recs.md
Labels: 📚 documentation

#1275 fix: typo
  www/src/components/landingPage/about.astro
Labels: 📚 documentation

#1279 fix: remove //@ts-check comment
  .changeset/short-pugs-breathe.md
  cli/template/base/next.config.mjs
Labels: 📌 area: cli, 📌 area: t3-app

#1273 feat: add errorformatter
  .changeset/eighty-masks-invite.md
  cli/package.json
  cli/template/extras/src/server/api/trpc/base.ts
  cli/template/extras/src/server/api/trpc/with-auth-prisma.ts
  cli/template/extras/src/server/api/trpc/with-auth.ts
  cli/template/extras/src/server/api/trpc/with-prisma.ts
  pnpm-lock.yaml
  www/src/pages/en/usage/trpc.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1263 fix: search for tsconfig relative to eslintrc
  .changeset/fresh-cars-tease.md
  cli/template/base/_eslintrc.cjs
Labels: 📌 area: cli, 📌 area: t3-app

#1283 docs: add Twitter clone to t3-collection
  www/src/components/docs/openSourceAppList.tsx
Labels: 📚 documentation

#1286 docs: correct spelling errors in folder-structure
  www/src/pages/ar/folder-structure.mdx
  www/src/pages/en/folder-structure.mdx
Labels: 📚 documentation

#1287 docs: update chinese translation
  www/src/pages/zh-hans/other-recs.md
  www/src/pages/zh-hans/usage/trpc.md
Labels: 📚 documentation

#1288 docs: correct spelling mistake of Codesandbox
  CONTRIBUTING.md
Labels: 📚 documentation

#1284 chore: bump typescript - 5.0.2
  .changeset/clever-singers-tease.md
  cli/package.json
  cli/src/installers/dependencyVersionMap.ts
  cli/template/base/package.json
  package.json
  pnpm-lock.yaml
  www/package.json
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1294 docs: update tweets copy, remove for now
  www/src/components/landingPage/tweets/tweets.astro
  www/src/pages/index.astro
Labels: 📚 documentation

#1296 docs: Add Theo's Chirp tutorial to the list of recommended videos
  www/src/pages/en/faq.md
Labels: 📚 documentation

#1297 chore: update translations
  .github/workflows/translations.yml
Labels: 📌 area: ci

#1295 feat: Replace Git Bash check with Mintty check
  .changeset/smart-cherries-try.md
  cli/src/cli/index.ts
Labels: 📌 area: cli

#1304 fix(docs): replace older trpc links with new ones
  .changeset/grumpy-ghosts-provide.md
  cli/template/extras/src/server/api/trpc/base.ts
  cli/template/extras/src/server/api/trpc/with-auth-prisma.ts
  cli/template/extras/src/server/api/trpc/with-auth.ts
  cli/template/extras/src/server/api/trpc/with-prisma.ts
  www/src/pages/ar/folder-structure.mdx
  www/src/pages/ar/usage/prisma.md
  www/src/pages/en/folder-structure.mdx
  www/src/pages/en/usage/prisma.md
  www/src/pages/es/folder-structure.mdx
  www/src/pages/es/usage/prisma.md
  www/src/pages/fr/folder-structure.mdx
  www/src/pages/fr/usage/prisma.md
  www/src/pages/no/folder-structure.mdx
  www/src/pages/no/usage/prisma.md
  www/src/pages/pl/folder-structure.mdx
  www/src/pages/pl/usage/prisma.md
  www/src/pages/pt/folder-structure.mdx
  www/src/pages/pt/usage/prisma.md
  www/src/pages/ru/folder-structure.mdx
  www/src/pages/ru/usage/prisma.md
  www/src/pages/zh-hans/folder-structure.mdx
  www/src/pages/zh-hans/usage/prisma.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1306 feat(docs): replace old overview with tutorial
  www/src/pages/ar/introduction.md
  www/src/pages/en/introduction.md
  www/src/pages/es/introduction.md
  www/src/pages/fr/introduction.md
  www/src/pages/no/introduction.md
  www/src/pages/pl/introduction.md
  www/src/pages/pt/introduction.md
  www/src/pages/ru/introduction.md
  www/src/pages/zh-hans/introduction.md
Labels: 📚 documentation

#1312 feat: bumped tailwind from 3.2.7 -> 3.3.0
  .changeset/ten-suns-brush.md
  cli/.prettierrc.cjs
  cli/package.json
  cli/src/installers/dependencyVersionMap.ts
  cli/src/installers/tailwind.ts
  cli/template/extras/config/tailwind.config.ts
  pnpm-lock.yaml
  www/.prettierrc.cjs
  www/astro.config.mjs
  www/package.json
  www/postcss.config.cjs
  www/src/components/docs/companyList.tsx
  www/src/components/docs/folderStructureDiagram.astro
  www/src/components/docs/pagination.astro
  www/src/components/landingPage/banner.astro
  www/src/components/landingPage/community/community.astro
  www/src/components/landingPage/stack/card.astro
  www/src/components/landingPage/tweets/tweetCard.astro
  www/src/components/navigation/LanguageSelect.tsx
  www/src/components/navigation/OnThisPageLinks.tsx
  www/src/components/navigation/leftSidebar.astro
  www/src/pages/404.astro
  www/tailwind.config.ts
  www/tsconfig.json
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1317 docs: add "its your app" faq section
  www/src/pages/en/faq.md
Labels: 📚 documentation
