Repository t3-oss/create-t3-app, pull requests merged in 2023-05, with the labels that each got.

#1395 docs: add Checkinout to t3-collection
  www/src/components/docs/openSourceAppList.tsx
Labels: 📚 documentation

#1390 fix: clarify comments regarding prisma use of postgresql
  cli/template/extras/prisma/schema/with-auth.prisma
Labels: 📌 area: cli, 📌 area: t3-app

#1400 chore: add translators
  .github/workflows/translations.yml
Labels: 📌 area: ci

#1401 fix: temporarily pin `next` version to fix vercel build error
  .changeset/pink-tigers-smoke.md
  cli/template/base/package.json
Labels: 📌 area: cli, 📌 area: t3-app

#1404 fix(deps): Update NextJS dependency to version ^13.4.1
  .changeset/clean-jobs-melt.md
  cli/template/base/package.json
Labels: 📌 area: cli, 📌 area: t3-app

#1403 fix: gap between navigation and on this page header on mobile view
  www/src/components/navigation/OnThisPageLinks.tsx
Labels: 📚 documentation

#1398 docs: worded some French better
  www/src/pages/fr/why.md
Labels: 📚 documentation

#1397 feat: Added JsonProtocol as the Default Prisma Engine for Serverless …
  .changeset/curvy-dolls-hammer.md
  cli/template/extras/prisma/schema/base.prisma
  cli/template/extras/prisma/schema/with-auth.prisma
Labels: 📌 area: cli, 📌 area: t3-app

#1391 docs(env-variables): update docs to use T3 Env #1384
  www/src/pages/en/usage/env-variables.mdx
  www/src/pages/pt/usage/env-variables.mdx
Labels: 📚 documentation

#1162 docs: Clarify how to switch to Next auth middleware
  www/src/pages/en/usage/next-auth.mdx
Labels: 📚 documentation

#1365 feat(project): want to add new project that uses t3-stack
  www/src/components/docs/openSourceAppList.tsx
Labels: 📚 documentation

#1410 docs: update french translation with #1162 #1391 #1338 #1350
  www/src/pages/fr/deployment/netlify.mdx
  www/src/pages/fr/faq.mdx
  www/src/pages/fr/t3-collection.mdx
  www/src/pages/fr/usage/env-variables.md
  www/src/pages/fr/usage/env-variables.mdx
  www/src/pages/fr/usage/next-auth.mdx
Labels: 📚 documentation

#1420 feat: Add upgrade/changelog code
  .eslintrc.cjs
  .gitignore
  .vscode/settings.json
  cli/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  upgrade/.env.example
  upgrade/README.md
  upgrade/next.config.mjs
  upgrade/package.json
  upgrade/postcss.config.cjs
  upgrade/prettier.config.cjs
  upgrade/src/app/diff/[slug]/files.tsx
  upgrade/src/app/diff/[slug]/how-to-apply-diff.mdx
  upgrade/src/app/diff/[slug]/page.tsx
  upgrade/src/app/favicon.ico
  upgrade/src/app/layout.tsx
  upgrade/src/app/page.tsx
  upgrade/src/app/upgrade-panel.tsx
  upgrade/src/app/wheres-my-version.mdx
  upgrade/src/components/mdx.tsx
  upgrade/src/components/ui/button.tsx
  upgrade/src/components/ui/checkbox.tsx
  upgrade/src/components/ui/dialog.tsx
  upgrade/src/components/ui/hover-card.tsx
  upgrade/src/components/ui/label.tsx
  upgrade/src/components/ui/select.tsx
  upgrade/src/env.mjs
  upgrade/src/lib/utils.ts
  upgrade/src/mdx-components.tsx
  upgrade/src/styles/globals.css
  upgrade/src/styles/prismjs.css
  upgrade/tailwind.config.ts
  upgrade/tsconfig.json
Labels: 📚 documentation, 📌 area: cli

#1421 chore: version bumps
  cli/package.json
  cli/src/installers/dependencyVersionMap.ts
  cli/template/base/package.json
  package.json
  pnpm-lock.yaml
  www/package.json
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1392 feat: add import order sorting via prettier
  .github/workflows/e2e.yml
  cli/src/cli/index.ts
  cli/src/helpers/createProject.ts
  cli/src/index.ts
  cli/src/installers/dependencyVersionMap.ts
  cli/src/installers/eslint.ts
  cli/src/installers/prettier.ts
  cli/src/installers/tailwind.ts
  cli/src/utils/addPackageScript.ts
  cli/template/base/_eslintrc.cjs
  cli/template/base/package.json
  cli/template/extras/config/_eslintrc.cjs
  cli/template/extras/config/_prettier.config.cjs
  cli/template/extras/config/prettier-with-tailwind.config.cjs
  www/.prettierrc.cjs
  www/src/pages/en/usage/tailwind.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app, 📌 area: ci

#1426 fix: Minor fixes
  upgrade/README.md
  upgrade/src/lib/utils.ts
Labels: 📚 documentation

#1436 fix: use token.sub instead of user.id when using auth and not prisma
  .changeset/happy-squids-taste.md
  cli/template/extras/src/server/auth/base.ts
Labels: 📌 area: cli, 📌 area: t3-app

#1433 fix: SKIP_ENV_VALIDATION not skipping env validation
  .changeset/wild-items-float.md
  cli/template/base/src/env.mjs
  cli/template/extras/src/env/with-auth-prisma.mjs
  cli/template/extras/src/env/with-auth.mjs
  cli/template/extras/src/env/with-prisma.mjs
Labels: 📌 area: cli, 📌 area: t3-app

#1439 docs: Focus styling on GitHub contributors
  www/src/components/docs/avatarList.astro
  www/src/styles/accessibility.css
Labels: 📚 documentation

#1429 feat: add t3-upgrade project
  .eslintrc.cjs
  .gitignore
  .vscode/settings.json
  cli/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
  upgrade/.env.example
  upgrade/README.md
  upgrade/next.config.mjs
  upgrade/package.json
  upgrade/postcss.config.cjs
  upgrade/prettier.config.cjs
  upgrade/public/opengraph-image.png
  upgrade/src/app/api/og/route.tsx
  upgrade/src/app/diff/[slug]/files.tsx
  upgrade/src/app/diff/[slug]/how-to-apply-diff.mdx
  upgrade/src/app/diff/[slug]/loading.tsx
  upgrade/src/app/diff/[slug]/page.tsx
  upgrade/src/app/favicon.ico
  upgrade/src/app/layout.tsx
  upgrade/src/app/page.tsx
  upgrade/src/app/upgrade-panel.tsx
  upgrade/src/app/wheres-my-version.mdx
  upgrade/src/components/mdx.tsx
  upgrade/src/components/ui/button.tsx
  upgrade/src/components/ui/checkbox.tsx
  upgrade/src/components/ui/dialog.tsx
  upgrade/src/components/ui/label.tsx
  upgrade/src/components/ui/select.tsx
  upgrade/src/env.mjs
  upgrade/src/lib/utils.ts
  upgrade/src/mdx-components.tsx
  upgrade/src/styles/globals.css
  upgrade/tailwind.config.ts
  upgrade/tsconfig.json
Labels: 📚 documentation, 📌 area: cli
