Repository t3-oss/create-t3-app, pull requests merged in 2023-07, with the labels that each got.

#1489 docs: add Umami Cloud in Other Recommendations Page
  www/src/pages/en/other-recs.md
Labels: 📚 documentation

#1476 feat: typescript-eslint@v6
  .changeset/modern-parents-float.md
  .eslintrc.cjs
  cli/.eslintignore
  cli/src/helpers/installDependencies.ts
  cli/src/helpers/installPackages.ts
  cli/src/helpers/logNextSteps.ts
  cli/src/helpers/selectBoilerplate.ts
  cli/src/utils/renderVersionWarning.ts
  cli/template/base/_eslintrc.cjs
  cli/template/base/package.json
  cli/template/extras/src/server/api/trpc/with-auth-prisma.ts
  cli/template/extras/src/server/api/trpc/with-auth.ts
  cli/template/extras/src/server/auth/base.ts
  cli/template/extras/src/server/auth/with-prisma.ts
  cli/tsconfig.eslint.json
  package.json
  pnpm-lock.yaml
  upgrade/package.json
  upgrade/src/app/api/og/route.tsx
  upgrade/src/app/diff/[slug]/page.tsx
  upgrade/src/lib/utils.ts
  upgrade/src/mdx-components.tsx
  www/package.json
  www/src/components/docs/breadCrumbs.tsx
  www/src/components/docs/callout.tsx
  www/src/components/navigation/LanguageSelect.tsx
  www/src/components/navigation/OnThisPageLinks.tsx
  www/src/components/navigation/Search.tsx
  www/src/components/openGraph.tsx
  www/src/config.ts
  www/src/utils/fetchGithub.ts
  www/src/utils/ogFont.ts
  www/tailwind.config.ts
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1508 chore(deps): bump prisma to v5.0.0
  .changeset/weak-glasses-help.md
  cli/src/installers/dependencyVersionMap.ts
  cli/template/extras/prisma/schema/base.prisma
  cli/template/extras/prisma/schema/with-auth.prisma
Labels: 📌 area: cli, 📌 area: t3-app

#1523 feat: reduced stylistic linting
  .changeset/red-melons-fly.md
  cli/template/base/_eslintrc.cjs
Labels: 📌 area: cli, 📌 area: t3-app

#1513 bump superjson to 1.13.1
  cli/src/installers/dependencyVersionMap.ts
Labels: 📌 area: cli

#1517 docs: update chinese translation
  www/src/pages/zh-hans/deployment/netlify.mdx
  www/src/pages/zh-hans/faq.mdx
  www/src/pages/zh-hans/other-recs.md
  www/src/pages/zh-hans/usage/env-variables.md
  www/src/pages/zh-hans/usage/env-variables.mdx
  www/src/pages/zh-hans/usage/next-auth.mdx
Labels: 📚 documentation

#1521 docs: add sozluk-clone to t3-collection
  www/src/components/docs/openSourceAppList.tsx
Labels: 📚 documentation
