Repository t3-oss/create-t3-app, pull requests merged in 2023-08, with the labels that each got.

#1507 feat(cli): show next git steps based on current git repo
  .changeset/wild-walls-share.md
  cli/src/helpers/git.ts
  cli/src/helpers/logNextSteps.ts
  cli/src/index.ts
Labels: 📌 area: cli

#1522 docs: fix me3 links and add website link to t3 collection
  www/src/components/docs/openSourceAppList.tsx
Labels: 📚 documentation

#1532 chore(deps): upgrade Prisma to v5.1.1, bump patch versions of other dependencies
  .changeset/few-bikes-collect.md
  cli/src/installers/dependencyVersionMap.ts
Labels: 📌 area: cli

#1531 Fix appdir comment
  .gitignore
  cli/template/base/next.config.mjs
Labels: 📌 area: cli, 📌 area: t3-app

#1530 docs: add River to the list of companies using t3 stack
  www/src/components/docs/companyList.tsx
Labels: 📚 documentation

#1535 chore: version bump some stuff in base template
  cli/package.json
  cli/template/base/package.json
  pnpm-lock.yaml
  upgrade/package.json
Labels: 📌 area: cli, 📌 area: t3-app

#1536 build: bump astro
  pnpm-lock.yaml
  www/package.json
Labels: 📚 documentation

#1537 docs: update the doc based of cli changes
  www/src/components/docs/folderStructureDiagram.astro
  www/src/components/navigation/tableOfContents.astro
  www/src/pages/ar/folder-structure.mdx
  www/src/pages/en/folder-structure.mdx
  www/src/pages/es/folder-structure.mdx
  www/src/pages/fr/folder-structure.mdx
  www/src/pages/ja/folder-structure.mdx
  www/src/pages/no/folder-structure.mdx
  www/src/pages/pl/folder-structure.mdx
  www/src/pages/pt/folder-structure.mdx
  www/src/pages/ru/folder-structure.mdx
  www/src/pages/zh-hans/folder-structure.mdx
Labels: 📚 documentation

#1534 docs: Add FlowGPT to Company List
  www/src/components/docs/companyList.tsx
Labels: 📚 documentation

#1506 docs: added drizzle.config.ts to polish and english folder-structure
  www/src/pages/en/faq.mdx
  www/src/pages/en/folder-structure.mdx
  www/src/pages/pl/faq.md
  www/src/pages/pl/folder-structure.mdx
Labels: 📚 documentation

#1541 docs: Update next-js.md to add an example on how to use getServerSideProps anyway
  www/src/pages/en/usage/next-js.md
Labels: 📚 documentation

#1375 feat: Add support for using bun package manager (bunx / bun install)
  .changeset/thick-turkeys-unite.md
  .github/workflows/e2e.yml
  cli/src/helpers/installDependencies.ts
  cli/src/helpers/logNextSteps.ts
  cli/src/utils/getUserPkgManager.ts
  www/src/pages/ar/installation.mdx
  www/src/pages/en/installation.mdx
  www/src/pages/es/installation.mdx
  www/src/pages/fr/installation.mdx
  www/src/pages/ja/installation.mdx
  www/src/pages/no/installation.mdx
  www/src/pages/pl/installation.mdx
  www/src/pages/pt/installation.mdx
  www/src/pages/ru/installation.mdx
  www/src/pages/zh-hans/installation.mdx
Labels: 📚 documentation, 📌 area: cli, 📌 area: ci

#1540 docs: Update openSourceAppList.tsx
  www/src/components/docs/openSourceAppList.tsx
Labels: 📚 documentation
