Repository t3-oss/create-t3-app, pull requests merged in 2023-04, with the labels that each got.

#1321 fix: update types for global prisma instance
  .changeset/gorgeous-jars-vanish.md
  cli/template/extras/src/server/db.ts
Labels: 📌 area: cli, 📌 area: t3-app

#1326 feat(docs): remove unnecessary type casts
  www/src/components/docs/breadCrumbs.tsx
Labels: 📚 documentation

#1329 fix: temporarily pin next-auth version
  .changeset/gold-toes-compete.md
  cli/src/installers/dependencyVersionMap.ts
Labels: 📌 area: cli

#1322 docs: update polish translation
  www/src/pages/pl/deployment/netlify.md
  www/src/pages/pl/faq.md
  www/src/pages/pl/folder-structure.mdx
  www/src/pages/pl/other-recs.md
  www/src/pages/pl/usage/env-variables.md
  www/src/pages/pl/usage/first-steps.md
  www/src/pages/pl/usage/next-auth.md
  www/src/pages/pl/usage/prisma.md
  www/src/pages/pl/usage/trpc.md
Labels: 📚 documentation

#1330 fix: create a new object for the session callback
  .changeset/itchy-cooks-sell.md
  cli/src/installers/dependencyVersionMap.ts
  cli/template/extras/src/server/auth/base.ts
  cli/template/extras/src/server/auth/with-prisma.ts
Labels: 📌 area: cli, 📌 area: t3-app

#1338 feat(docs): breadcrumbs and pagination fixes, callout component
  www/src/components/docs/breadCrumbs.tsx
  www/src/components/docs/callout.tsx
  www/src/components/docs/pageContent.astro
  www/src/components/docs/pagination.astro
  www/src/pages/en/deployment/netlify.mdx
  www/src/pages/en/faq.mdx
  www/src/pages/en/installation.mdx
  www/src/pages/en/t3-collection.mdx
  www/src/pages/en/usage/env-variables.mdx
Labels: 📚 documentation

#1347 docs: Replace obsolete Prisma adapter link
  www/src/pages/en/usage/next-auth.md
  www/src/pages/es/usage/next-auth.md
  www/src/pages/fr/usage/next-auth.md
  www/src/pages/no/usage/next-auth.md
  www/src/pages/pl/usage/next-auth.md
  www/src/pages/pt/usage/next-auth.md
  www/src/pages/ru/usage/next-auth.md
  www/src/pages/zh-hans/usage/next-auth.md
Labels: 📚 documentation

#1348 docs: Add Prisma Editor
  www/src/components/docs/openSourceAppList.tsx
Labels: 📚 documentation

#1350 docs: Fix idiom usage in faq.md
  www/src/pages/en/faq.mdx
Labels: 📚 documentation

#1354 docs: add Civitai to company list
  www/src/components/docs/companyList.tsx
Labels: 📚 documentation

#1352 refactor: add destructuring
  .changeset/wet-flies-train.md
  cli/template/extras/src/server/api/trpc/with-auth.ts
Labels: 📌 area: cli, 📌 area: t3-app

#1358 feat: improve boolean coercion of `SKIP_ENV_VALIDATION`
  .changeset/blue-walls-admire.md
  cli/template/base/next.config.mjs
  cli/template/base/src/env.mjs
  cli/template/extras/src/env/with-auth-prisma.mjs
  cli/template/extras/src/env/with-auth.mjs
  cli/template/extras/src/env/with-prisma.mjs
Labels: 📌 area: cli, 📌 area: t3-app

#1362 docs: add Callout component to installation page in every translation
  www/src/pages/ar/installation.mdx
  www/src/pages/es/installation.mdx
  www/src/pages/fr/installation.mdx
  www/src/pages/no/installation.mdx
  www/src/pages/pl/installation.mdx
  www/src/pages/pt/installation.mdx
  www/src/pages/ru/installation.mdx
  www/src/pages/zh-hans/installation.mdx
Labels: 📚 documentation

#1370 feat: Enforce `NEXT_PUBLIC_` env key on client with TS
  .changeset/purple-frogs-stare.md
  cli/template/base/src/env.mjs
  cli/template/extras/src/env/with-auth-prisma.mjs
  cli/template/extras/src/env/with-auth.mjs
  cli/template/extras/src/env/with-prisma.mjs
Labels: 📌 area: cli, 📌 area: t3-app

#1373 feat: Change to new T3 logo
  www/public/favicon.ico
  www/public/favicon.svg
  www/src/components/navigation/navbar.astro
Labels: 📚 documentation

#1374 feat: Change logo in README
  cli/README.md
Labels: 📚 documentation, 📌 area: cli

#1376 feat: Update lighthouse-ci-action to v9
  .github/workflows/lighthouse.yml
Labels: 📌 area: ci

#1379 docs: fix color transitions
  www/src/components/navigation/Search.tsx
  www/src/components/navigation/githubIcon.astro
Labels: 📚 documentation

#1378 docs: add t3 blog to the open source projects list
  www/src/components/docs/openSourceAppList.tsx
Labels: 📚 documentation

#1291 feat: dynamic OG images for docs #986
  pnpm-lock.yaml
  www/.env.example
  www/astro.config.mjs
  www/package.json
  www/public/logo.svg
  www/src/components/headSeo.astro
  www/src/components/openGraph.tsx
  www/src/pages/og.ts
  www/src/utils/ogFont.ts
  www/src/utils/siteUrl.ts
Labels: 📚 documentation

#1386 chore: bump some stuff to try and fix deployments
  cli/package.json
  package.json
  pnpm-lock.yaml
  www/package.json
Labels: 📚 documentation, 📌 area: cli

#1385 fix: Error with older git version failing to initialize git repo
  .changeset/thick-mails-train.md
  cli/src/helpers/git.ts
Labels: 📌 area: cli

#1382 fix: Several dark/light mode issues with new logo
  cli/README.md
  www/public/favicon-dark.ico
  www/src/components/headCommon.astro
  www/src/components/navigation/navbar.astro
Labels: 📚 documentation, 📌 area: cli

#1380 docs: fix duration on color transitions
  www/src/components/navigation/Search.tsx
  www/src/components/navigation/githubIcon.astro
Labels: 📚 documentation

#1359 docs(pages): Japanese translation
  .changeset/short-poets-swim.md
  .gitignore
  www/src/.vscode/settings.json
  www/src/config.ts
  www/src/pages/ja/deployment/docker.md
  www/src/pages/ja/deployment/index.astro
  www/src/pages/ja/deployment/netlify.mdx
  www/src/pages/ja/deployment/vercel.md
  www/src/pages/ja/faq.mdx
  www/src/pages/ja/folder-structure.mdx
  www/src/pages/ja/installation.mdx
  www/src/pages/ja/introduction.md
  www/src/pages/ja/other-recs.md
  www/src/pages/ja/t3-collection.mdx
  www/src/pages/ja/usage/env-variables.mdx
  www/src/pages/ja/usage/first-steps.md
  www/src/pages/ja/usage/index.astro
  www/src/pages/ja/usage/next-auth.md
  www/src/pages/ja/usage/next-js.md
  www/src/pages/ja/usage/prisma.md
  www/src/pages/ja/usage/tailwind.md
  www/src/pages/ja/usage/trpc.md
  www/src/pages/ja/usage/typescript.md
  www/src/pages/ja/why.md
Labels: 📚 documentation

#1377 refactor: migrate to t3-env
  .changeset/odd-queens-travel.md
  .github/version-script-beta.js
  .github/version-script-next.js
  cli/package.json
  cli/template/base/package.json
  cli/template/base/src/env.mjs
  cli/template/extras/src/env/with-auth-prisma.mjs
  cli/template/extras/src/env/with-auth.mjs
  cli/template/extras/src/env/with-prisma.mjs
  pnpm-lock.yaml
  www/src/pages/en/usage/env-variables.mdx
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app, 📌 area: ci
