Repository t3-oss/create-t3-app, pull requests merged in 2023-09, with the labels that each got.

#1550 docs: add openbio.app to OSS app list
  www/src/components/docs/openSourceAppList.tsx
Labels: 📚 documentation

#1553 fix(website): make right-click ➝ /branding only for logo, not entire navbar
  www/src/components/navigation/navbar.astro
Labels: 📚 documentation

#1562 chore: ship less files to users with the cli
  cli/package.json
  cli/tsup.config.ts
Labels: 📌 area: cli

#1561 feat: set packageManager on app creation
  .changeset/soft-moose-care.md
  cli/src/index.ts
Labels: 📌 area: cli

#1564 fix(drizzle): yell if default url isn't cahnged
  .changeset/hungry-cameras-melt.md
  .github/workflows/e2e.yml
  cli/template/extras/src/env/with-auth-db.mjs
  cli/template/extras/src/env/with-db.mjs
Labels: 📌 area: cli, 📌 area: t3-app, 📌 area: ci

#1568 docs: update chinese translation
  www/src/pages/zh-hans/deployment/netlify.mdx
  www/src/pages/zh-hans/faq.mdx
  www/src/pages/zh-hans/folder-structure.mdx
  www/src/pages/zh-hans/usage/drizzle.mdx
  www/src/pages/zh-hans/usage/first-steps.md
  www/src/pages/zh-hans/usage/next-js.md
Labels: 📚 documentation

#1570 fix(prettier-config): fix import order
  cli/prettier.config.mjs
  upgrade/prettier.config.mjs
  www/prettier.config.mjs
Labels: 📚 documentation, 📌 area: cli
