Repository t3-oss/create-t3-app, pull requests merged in 2024-04, with the labels that each got.

#1816 fix: improve start-databse scripts exit and messages
  cli/template/extras/start-database/mysql.sh
  cli/template/extras/start-database/postgres.sh
Labels: 📌 area: cli, 📌 area: t3-app

#1817 fix: `start-database.sh` is marked optional
  .changeset/beige-pets-yell.md
  cli/src/helpers/logNextSteps.ts
Labels: 📌 area: cli

#1823 chore: update next to 14.2.1
  .changeset/long-cobras-dress.md
  cli/package.json
  cli/template/base/package.json
  pnpm-lock.yaml
  upgrade/package.json
Labels: 📌 area: cli, 📌 area: t3-app

#1829 chore: bump pnpm
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/lighthouse.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/prerelease-comment.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/translations.yml
  package.json
  pnpm-lock.yaml
  upgrade/next.config.js
Labels: 📌 area: ci
