Repository t3-oss/create-t3-app, pull requests merged in 2024-01, with the labels that each got.

#1713 chore: remove unused @types/inquirer
  .changeset/chatty-monkeys-battle.md
  cli/package.json
  pnpm-lock.yaml
Labels: 📌 area: cli

#1712 fix(docs): reserve height for breadcrumbs on server render
  www/src/components/docs/breadCrumbs.tsx
  www/src/components/docs/pageContent.astro
Labels: 📚 documentation

#1714 bump-drizzle
  .changeset/thick-eggs-breathe.md
  cli/package.json
  cli/src/installers/dependencyVersionMap.ts
  pnpm-lock.yaml
Labels: 📌 area: cli

#1717 fix: fix typos in documentation
  www/src/pages/ar/usage/trpc.md
  www/src/pages/en/usage/trpc.md
  www/src/pages/fr/usage/trpc.md
  www/src/pages/ja/usage/trpc.md
  www/src/pages/ru/usage/trpc.md
Labels: 📚 documentation

#1718 fix: ref db not prisma
  www/src/pages/en/usage/prisma.md
Labels: 📚 documentation

#1721 docs: update trpc docs to use `t.createCallerFactory()`
  www/src/pages/ar/usage/trpc.md
  www/src/pages/en/usage/trpc.md
  www/src/pages/es/usage/trpc.md
  www/src/pages/fr/usage/trpc.md
  www/src/pages/ja/usage/trpc.md
  www/src/pages/no/usage/trpc.md
  www/src/pages/pl/usage/trpc.md
  www/src/pages/pt/usage/trpc.md
  www/src/pages/ru/usage/trpc.md
  www/src/pages/zh-hans/usage/trpc.md
Labels: 📚 documentation

#1728 fix: missuse of binary expressions
  .changeset/plenty-pears-drum.md
  cli/src/cli/index.ts
  cli/template/extras/src/server/auth-app/with-drizzle.ts
  cli/template/extras/src/server/auth-pages/with-drizzle.ts
  www/src/pages/og.ts
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1723 fix: no-cookies-for-cc
  .changeset/cuddly-donuts-grab.md
  cli/template/extras/src/app/layout/with-trpc-tw.tsx
  cli/template/extras/src/app/layout/with-trpc.tsx
  cli/template/extras/src/app/page/with-auth-trpc-tw.tsx
  cli/template/extras/src/app/page/with-auth-trpc.tsx
  cli/template/extras/src/app/page/with-trpc-tw.tsx
  cli/template/extras/src/app/page/with-trpc.tsx
  cli/template/extras/src/trpc/react.tsx
  cli/template/extras/src/trpc/server.ts
Labels: 📌 area: cli, 📌 area: t3-app

#1733 docs: change useContext to useUtils
  www/src/pages/en/usage/trpc.md
Labels: 📚 documentation

#1622 feat: Add more db options
  .changeset/lemon-deers-grin.md
  .github/workflows/e2e.yml
  cli/package.json
  cli/src/cli/index.ts
  cli/src/helpers/createProject.ts
  cli/src/helpers/logNextSteps.ts
  cli/src/index.ts
  cli/src/installers/dbContainer.ts
  cli/src/installers/dependencyVersionMap.ts
  cli/src/installers/drizzle.ts
  cli/src/installers/envVars.ts
  cli/src/installers/index.ts
  cli/src/installers/prisma.ts
  cli/template/extras/config/drizzle-config-mysql.ts
  cli/template/extras/config/drizzle-config-postgres.ts
  cli/template/extras/config/drizzle-config-sqlite.ts
  cli/template/extras/prisma/schema/base-planetscale.prisma
  cli/template/extras/prisma/schema/with-auth-planetscale.prisma
  cli/template/extras/src/server/auth-app/with-drizzle.ts
  cli/template/extras/src/server/auth-pages/with-drizzle.ts
  cli/template/extras/src/server/db/db-prisma-planetscale.ts
  cli/template/extras/src/server/db/index-drizzle/with-mysql.ts
  cli/template/extras/src/server/db/index-drizzle/with-planetscale.ts
  cli/template/extras/src/server/db/index-drizzle/with-postgres.ts
  cli/template/extras/src/server/db/index-drizzle/with-sqlite.ts
  cli/template/extras/src/server/db/schema-drizzle/base-mysql.ts
  cli/template/extras/src/server/db/schema-drizzle/base-planetscale.ts
  cli/template/extras/src/server/db/schema-drizzle/base-postgres.ts
  cli/template/extras/src/server/db/schema-drizzle/base-sqlite.ts
  cli/template/extras/src/server/db/schema-drizzle/with-auth-mysql.ts
  cli/template/extras/src/server/db/schema-drizzle/with-auth-planetscale.ts
  cli/template/extras/src/server/db/schema-drizzle/with-auth-postgres.ts
  cli/template/extras/src/server/db/schema-drizzle/with-auth-sqlite.ts
  cli/template/extras/start-database/mysql.sh
  cli/template/extras/start-database/postgres.sh
  pnpm-lock.yaml
  tsconfig.json
  www/src/pages/en/usage/first-steps.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app, 📌 area: ci

#1730 fix: move type definitions of optional items below mandatory items
  www/src/components/branding/Asset.astro
Labels: 📚 documentation

#1740 docs: Fix typo
  cli/template/extras/start-database/mysql.sh
  cli/template/extras/start-database/postgres.sh
Labels: 📌 area: cli, 📌 area: t3-app

#1750 docs: add try catch to github stars button
  www/src/components/navigation/githubIcon.astro
Labels: 📚 documentation
