Repository t3-oss/create-t3-app, pull requests merged in 2024-02, with the labels that each got.

#1745 docs: fix broken link
  www/src/pages/en/usage/trpc.md
Labels: 📚 documentation

#1757 docs: add drizzle to README in template
  cli/README.md
  cli/template/base/README.md
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1759 docs: Update Docker documentation
  www/src/pages/en/deployment/docker.md
Labels: 📚 documentation

#1752 docs: adding a translation in Polish for the "examples" page
  www/src/config.ts
  www/src/pages/pl/examples.mdx
Labels: 📚 documentation

#1731 docs: update polish translation first-steps.md
  www/src/pages/pl/usage/first-steps.md
Labels: 📚 documentation

#1763 fix: correct casing of “PlanetScale”
  .changeset/dirty-birds-own.md
  cli/src/cli/index.ts
  www/src/pages/ar/usage/prisma.md
  www/src/pages/en/usage/prisma.md
  www/src/pages/fr/usage/prisma.md
  www/src/pages/ja/usage/prisma.md
  www/src/pages/no/usage/prisma.md
  www/src/pages/pl/usage/prisma.md
  www/src/pages/pt/usage/prisma.md
  www/src/pages/zh-hans/usage/prisma.md
Labels: 📚 documentation, 📌 area: cli

#1769 fix: generated comments in env file
  .changeset/nervous-oranges-deliver.md
  cli/src/installers/envVars.ts
Labels: 📌 area: cli

#1764 fix: fix password substitution in start-database scripts
  .changeset/loud-pugs-bathe.md
  cli/template/extras/start-database/mysql.sh
  cli/template/extras/start-database/postgres.sh
Labels: 📌 area: cli, 📌 area: t3-app

#1748 fix: add missing `pg` dev dependency for drizzle-studio
  .changeset/smart-pumpkins-compare.md
  cli/src/installers/dependencyVersionMap.ts
  cli/src/installers/drizzle.ts
Labels: 📌 area: cli

#1772 fix: stable query client
  .changeset/sixty-rats-drop.md
  cli/template/extras/src/trpc/react.tsx
Labels: 📌 area: cli, 📌 area: t3-app

#1773 feat: support prisma extends
  .changeset/twelve-cars-guess.md
  cli/template/extras/src/server/db/db-prisma-planetscale.ts
  cli/template/extras/src/server/db/db-prisma.ts
Labels: 📌 area: cli, 📌 area: t3-app

#1775 chore: update some deps, fix tsconfig, import env path
  cli/package.json
  cli/src/installers/dependencyVersionMap.ts
  cli/src/installers/nextAuth.ts
  cli/src/installers/tailwind.ts
  cli/template/base/package.json
  cli/template/extras/config/drizzle-config-postgres.ts
  cli/template/extras/config/drizzle-config-sqlite.ts
  cli/template/extras/config/postcss.config.cjs
  cli/template/extras/src/server/auth-app/with-prisma.ts
  cli/template/extras/src/server/auth-pages/with-prisma.ts
  cli/template/extras/src/server/db/index-drizzle/with-mysql.ts
  cli/template/extras/src/server/db/index-drizzle/with-postgres.ts
  cli/template/extras/src/server/db/index-drizzle/with-sqlite.ts
  package.json
  pnpm-lock.yaml
  upgrade/next.config.js
  upgrade/package.json
  upgrade/tsconfig.json
  www/package.json
  www/src/components/navigation/githubIcon.astro
  www/tailwind.config.ts
Labels: 📚 documentation, 📌 area: cli, 📌 area: t3-app

#1777 fix: Don't show planetscale serverless warning if not installing driver
  .changeset/soft-stingrays-hammer.md
  cli/src/helpers/logNextSteps.ts
Labels: 📌 area: cli
