Repository t3-oss/create-t3-app, pull requests merged in 2024-03, with the labels that each got.

#1766 fix: fix too many clients error on Postgres due to HMR with Drizzle
  .changeset/grumpy-avocados-eat.md
  cli/template/extras/src/server/db/index-drizzle/with-mysql.ts
  cli/template/extras/src/server/db/index-drizzle/with-postgres.ts
  cli/template/extras/src/server/db/index-drizzle/with-sqlite.ts
Labels: 📌 area: cli, 📌 area: t3-app

#1786 docs: add improvdb to openSourceAppList.tsx
  www/src/components/docs/openSourceAppList.tsx
Labels: 📚 documentation

#1785 feat: ESLlint rules for drizzle-orm
  .changeset/gentle-actors-think.md
  cli/src/index.ts
  cli/src/installers/dependencyVersionMap.ts
  cli/src/installers/drizzle.ts
  cli/src/installers/eslint.ts
  cli/src/installers/index.ts
  cli/template/extras/config/_eslint.js
Labels: 📌 area: cli, 📌 area: t3-app, 🚀 autorelease

#1794 refactor: use portable shebangs
  .changeset/proud-clocks-chew.md
  cli/template/extras/start-database/mysql.sh
  cli/template/extras/start-database/postgres.sh
Labels: 📌 area: cli, 📌 area: t3-app

#1799 fix: create url safe db passwords
  cli/template/extras/start-database/mysql.sh
  cli/template/extras/start-database/postgres.sh
Labels: 📌 area: cli, 📌 area: t3-app

#1741 feat: use trpc 11
  .changeset/thirty-onions-tickle.md
  cli/package.json
  cli/src/installers/dependencyVersionMap.ts
  cli/src/installers/trpc.ts
  cli/template/extras/src/app/_components/create-post-tw.tsx
  cli/template/extras/src/app/_components/create-post.tsx
  cli/template/extras/src/app/page/with-auth-trpc-tw.tsx
  cli/template/extras/src/app/page/with-auth-trpc.tsx
  cli/template/extras/src/app/page/with-trpc-tw.tsx
  cli/template/extras/src/app/page/with-trpc.tsx
  cli/template/extras/src/server/api/root.ts
  cli/template/extras/src/server/api/trpc-app/base.ts
  cli/template/extras/src/server/api/trpc-app/with-auth-db.ts
  cli/template/extras/src/server/api/trpc-app/with-auth.ts
  cli/template/extras/src/server/api/trpc-app/with-db.ts
  cli/template/extras/src/server/api/trpc-pages/base.ts
  cli/template/extras/src/server/api/trpc-pages/with-auth-db.ts
  cli/template/extras/src/server/api/trpc-pages/with-auth.ts
  cli/template/extras/src/server/api/trpc-pages/with-db.ts
  cli/template/extras/src/trpc/react.tsx
  cli/template/extras/src/trpc/server.ts
  cli/template/extras/src/trpc/shared.ts
  cli/template/extras/src/utils/api.ts
  pnpm-lock.yaml
Labels: 📌 area: cli, 📌 area: t3-app

#1809 docs: added todo-mvc to open source collection
  www/src/components/docs/openSourceAppList.tsx
Labels: 📚 documentation

#1808 feat: apply drizzle lint rules to `db` keyword only
  .changeset/violet-plums-sparkle.md
  cli/src/installers/eslint.ts
Labels: 📌 area: cli
